{% extends 'common/base-admin.html' %}
{% block head %}
{{ parent() }}
<style>
	#bodyWrapper {
		height: 100%;
		background-color: #fff;
	} 
</style>
{% endblock %}
{% block body%}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h1 class="title-dashboard">Agregar nuevo producto a mi catálogo</h1>
			</div>
			<div class="col-sm-12">
				<p>
					<a href="{{ base_url() }}dashboard/admin/catalog" class="btn btn-danger">
						<i class="fa fa-times-circle  margin-right--5"></i>
						Cancelar
					</a>
				</p>
				<div class="panel panel-default">
					<div class="panel-body">
						{% if error.validation is not empty %}
							<div class="alert alert-danger">
								<p>{{ error.validation }}</p>
							</div>

								{% for info in error.info %}
									La fila {{ info }} esta vacía
								{% endfor %}
						{% endif %}
						<form action="{{ base_url() }}dashboard/admin/catalog/upload_test" method="post" accept-charset="utf-8" enctype="multipart/form-data">
							<label>Archivo Excel</label>
							<input id="fileExcel" type="file" name="excel" class="form-control margin-bottom--10">
							<label>Carpeta de Imágenes</label>
							<input id="dirImage" type="file" name="zip" class="form-control">
							<p class="small text-muted margin-bottom--10">Las imágenes no deben estar en ninguna sub carpeta.</p>
							<button class="btn btn-success">Subir</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}