{% extends 'common/base-admin.html' %}
{% block head %}
{{ parent() }}
<style>
    #bodyWrapper {
        height: 100%;
        background-color: #fff;
    }
</style>
{% endblock %}
{% block body%}
<div class="container-fluid containerNoPrint">
    <div class="row">
        <div class="col-sm-12 col-lg-5 col-lg-offset-1 margin-bottom--20" id="imagenesPrint">
            <div class="row">
                <!--<div class="col-sm-12 margin-bottom--50">
                    <img src="{{ base_url() }}public/uploads/supplier/catalog/{{ product.s_directory }}/{{ product.item }}.jpg" class="img-responsive img-center">
                </div>-->
				
                {% for img in gallery %}
                <div class="col-sm-12 margin-bottom--50">
                     <img src="{{ base_url() }}public/uploads/supplier/catalog/{{ product.s_directory }}/{{ img.name }}" class="img-responsive">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-12 col-lg-5" style="position: relative; " id="descripcionPrint">
            <div class="row" style="position: fixed; width: 30%;">
                <div class="col-sm-12 margin-bottom--20" style="max-height: 500px;overflow-y: auto" id="desPrint">
                  <div class="col-lg-8">
                    <p class="text-muted">{{ product.c_name }}</p>
                    <h2 class="margin-clear margin-bottom--10">{{ product.name }}</h2>
                    <h4 class="margin-clear margin-bottom--10 text-muted">${{ product.price_tt }} {{ product.price_currency }}</h4>
                    <p class="lead margin-clear margin-bottom--10">{{ product.header }}</p>
                </div>
                <div class="col-lg-4 text-right">
                    <p class="h1">{{ product.score }}</p>
                </div>                
                <div class="col-sm-12">
                    <p>{{ product.description }}</p>
                    <hr>
                    <p>
                        <b>Cantidad minima de pedido: </b> {{ product.minimumOrder }}<br>
                        <b>Item: </b> {{ product.item }}<br>
                        <b>Supplier ID: </b> {{ product.s_custome }}<br>
                        <b>Supplier Name: </b> <a href="{{ base_url() }}dashboard/admin/supplier/products/{{ product.s_id }}"> {{ product.s_name }} </a><br>
                        <b>Calidad: </b> {{ product.quality }}<br>
                        <b>Origen: </b> {{ product.origin2 }}<br>
                        <b>País: </b> {{ product.origin }}<br>
                        <b>Presentación: </b> {{ product.presentation }}
                    </p>
                    <div class="row text-center" style="display:flex; padding: 15px;">
                        <p>COLORES</p>
                        {% for color in colors %}
                            <div class="col-sm-1" style="display:flex; flex: 1;">
                                <div class="panel" style="flex: 1; height: 20px; background: {{ color }}"></div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="btn btn-link btn-block" role="button" data-toggle="collapse" href="#collapseCharacteristics" aria-expanded="false" aria-controls="collapseExample">
                        CARACTERISTICAS <i class="fa fa-angle-down fa-lg"></i>
                    </a>
                    <p class="collapse" id="collapseCharacteristics">
                        {% if product.characteristics is empty %}
                            <span class="text-muted">No hay una descripción</span>
                        {% else %}
                            {{ product.characteristics }}
                        {% endif %}
                    </p>
                    <hr class="margin-clear margin-bottom--10">
                    <a class="btn btn-link btn-block" role="button" data-toggle="collapse" href="#collapseEspecifications" aria-expanded="false" aria-controls="collapseExample">
                        ESPECIFICACIONES <i class="fa fa-angle-down fa-lg"></i>
                    </a>
                    <p class="collapse" id="collapseEspecifications">
                        {{ product.especifications }}<br><br>
                        <b>Dimensiones: </b> {{ product.dimensions }}<br>
                        <b>Peso: </b> {{ product.weight }}<br><br>
                        
                    </p>
                    <hr class="margin-clear margin-bottom--10">
                    <a class="btn btn-link btn-block" role="button" data-toggle="collapse" href="#collapsePacking" aria-expanded="false" aria-controls="collapseExample">
                        EMPAQUE <i class="fa fa-angle-down fa-lg"></i>
                    </a>
                    <p class="collapse" id="collapsePacking">
                        <b>No. piezas: </b> {{ product.packing_numPieces }}<br>
                        <b>Especificaciones: </b> {{ product.packing_especifications }}<br>
                        <b>Alto: </b> {{ product.packing_height }}cm<br>
                        <b>Ancho: </b> {{ product.packing_width }}cm<br>
                        <b>Largo: </b> {{ product.packing_large }}cm<br>
                        <b>Peso:</b> {{ product.packing_weight }}kg
                    </p>
                    <hr class="margin-clear margin-bottom--10">
                    <a class="btn btn-link btn-block" role="button" data-toggle="collapse" href="#collapseLogistic" aria-expanded="false" aria-controls="collapseExample">
                        LOGISTICA <i class="fa fa-angle-down fa-lg"></i>
                    </a>
                    <p class="collapse" id="collapseLogistic">
                        <b>Tiempo de producción: </b> {{ product.logistics_productionTime }}<br>
                        <b>FOB: </b> {{ product.logistics_fob }}<br>
                        <b>Tiempo de entrega FOB: </b> {{ product.logistics_fobDeliveryTime }}<br>
                        <b>Muestra fisica: </b> {{ product.sample }}<br>
                    </p>
                    <hr class="margin-clear margin-bottom--10">
                    <a class="btn btn-link btn-block" role="button" data-toggle="collapse" href="#collapsePrice" aria-expanded="false" aria-controls="collapseExample">
                        PRECIO <i class="fa fa-angle-down fa-lg"></i>
                    </a>
                    <p class="collapse" id="collapsePrice">
                        <b>Precio s/IVA: </b> ${{ product.price_withoutTax}}<br>
                        <b>Moneda: </b> {{ product.price_currency }}<br>
                        <b>Precio sugerido: </b> ${{ product.price_suggested }}<br>
                        <b>Precio TT: </b> ${{ product.price_tt }}<br>
                        {% set utilidad = product.price_tt - product.price_withoutTax %}
                        <b>Utilidad: </b> ${{ utilidad }}
                    </p>
                    <hr class="margin-clear margin-bottom--10">
                </div>
                
                  
              </div>
                <div class="col-sm-12 margin-bottom--10">
                    <button class="btn btn-block" data-toggle="modal" data-target="#editProduct">
                        EDITAR
                    </button>
                </div>
                <div class="col-sm-12 margin-bottom--10">                                                            
                    <a href="{{ base_url() }}dashboard/admin/product/tcpdf/{{ product.idProduct }}" target="_blank" class="btn btn-block">IMPRIMIR</a>
                    <!-- <button class="btn btn-block" onclick="imprimir()">
                        IMPRIMIR
                    </button> -->
                </div>
                <div class="col-sm-12">
                    <button data-id="{{ product.idProduct }}" class="btn btn-danger btn-block" data-toggle="modal" data-target="#modalDelete">
                        ELIMINAR
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade containerNoPrint" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-main="{{product.s_directory}}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header head-edit">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>Editar producto</b></h4>
            </div>
            <div class="modal-body">
                <form id="formEditProduct" action="" class="row" enctype="multipart/form-data">
                    <div class="form-group col-sm-6">
                        <label for="pcategory">Categoría</label>
                        <input id="pcategory" name="pcategory" type="text" class="form-control" value="{{ product.categoryA }}">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="pscore">Calificación</label>
                        <input id="pscore" name="pscore" type="text" class="form-control" value="{{ product.score }}">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="psubcat">Subcategoría</label>
                        <input id="psubcat" name="psubcat" type="text" class="form-control" value="{{ product.subcategoryA }}">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="pminimumOrder">Cantidad mínima de pedido</label>
                        <input id="pminimumOrder" name="pminimumOrder" type="text" class="form-control" value="{{ product.minimumOrder }}">
                    </div>					
                    <div class="form-group col-sm-6">
                        <label for="pname">Nombre</label>
                        <input id="pname" name="pname" type="text" class="form-control" value="{{ product.name }}">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="pboutiqueMaxOrder">Cantidad máximo de pedido</label>
                        <input id="pboutiqueMaxOrder" name="pboutiqueMaxOrder" type="text" class="form-control" value="{{ product.boutique_maximumOrder }}">
                    </div>					
                    <div class="form-group col-sm-6">
                        <label for="ppriceTT">Precio TT</label>
                        <input id="ppriceTT" name="ppriceTT" type="text" class="form-control" value="{{ product.price_tt }}">
                    </div>	
                    <div class="form-group col-sm-6">
                        <label for="pinvNumPieces">Inventario No. de piezas</label>
                        <input id="pinvNumPieces" name="pinvNumPieces" type="text" class="form-control" value="{{ product.inventory_numPieces }}">
                    </div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group col-sm-6">
								<label for="pheader">Header</label>
								<textarea id="pheader" rows="3" name="pheader" type="text" class="form-control">{{ product.header }}</textarea>
							</div>
							<div class="form-group col-sm-6">
								<label for="pdateExpiry">Fecha de caducidad</label>
								<input id="pdateExpiry" name="pdateExpiry" type="text" class="form-control" value="{{ product.dataExpiry }}">
							</div>						
						</div>
					</div>					
                    <div class="form-group col-sm-6">
                        <label for="pdescription">Descripción</label>
                        <textarea id="pdescription" rows="3" name="pdescription" type="text" class="form-control">{{ product.description }}</textarea>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="pitem">Item</label>
                        <input id="pitem" name="pitem" type="text" class="form-control" value="{{ product.item }}">
                    </div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group col-sm-6">
								<h3><b>Características</b></h3>
							</div>
							<div class="form-group col-sm-6">
								<label for="pquality">Calidad</label>
								<input id="pquality" name="pquality" type="text" class="form-control" value="{{ product.quality }}">
							</div>						
						</div>					
					</div>
                    <div class="form-group col-sm-6">
                        <label for="pcharacteristics">Caracteristicas</label>
                        <input id="pcharacteristics" name="pcharacteristics" type="text" class="form-control" value="{{ product.characteristics }}">
                    </div>					
                    <div class="form-group col-sm-6">
                        <label for="porigin">Origen</label>
                        <input id="porigin" name="porigin" type="text" class="form-control" value="{{ product.origin }}">
                    </div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group col-sm-6">
								<h3><b>Especificaciones</b></h3>
							</div>
							<div class="form-group col-sm-6">
								<label for="ppresentation">Presentación</label>
								<input id="ppresentation" name="ppresentation" type="text" class="form-control" value="{{ product.presentation }}">
							</div> 							
						</div>
					</div>
                    <div class="form-group col-sm-6">
                        <label for="pdimensions">Dimensiones</label>
                        <input id="pdimensions" name="pdimensions" type="text" class="form-control" value="{{ product.dimensions }}">
                    </div>					
                    <div class="form-group col-sm-6">
                        <label for="pcolor">Colores</label>
                        <input id="pcolor" name="pcolor" type="text" class="form-control" value="{{ product.colors }}">
                    </div>                   
                    <div class="form-group col-sm-6">
                        <label for="pweight">Peso</label>
                        <input id="pweight" name="pweight" type="text" class="form-control" value="{{ product.weight }}">
                    </div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group col-sm-12">
								<h3><b>Empaque</b></h3>
							</div>
							<div class="form-group col-sm-6">
								<label for="ppackingNumPieces">Empaque - No. de Piezas</label>
								<input id="ppackingNumPieces" name="ppackingNumPieces" type="text" class="form-control" value="{{ product.packing_numPieces }}">
							</div>							
							<div class="form-group col-sm-6">
								<label for="ppackingWidth">Empaque - Ancho</label>
								<input id="ppackingWidth" name="ppackingWidth" type="text" class="form-control" value="{{ product.packing_width }}">
							</div>							
							<div class="form-group col-sm-6">
								<label for="ppackingSpecifications">Empaque - Especifiaciones</label>
								<input id="ppackingSpecifications" name="ppackingSpecifications" type="text" class="form-control" value="{{ product.packing_especifications }}">
							</div>								
							<div class="form-group col-sm-6">
								<label for="ppackingLarge">Empaque - Largo</label>
								<input id="ppackingLarge" name="ppackingLarge" type="text" class="form-control" value="{{ product.packing_large }}">
							</div>							
							<div class="form-group col-sm-6">
								<label for="ppackingHeight">Empaque - Altura</label>
								<input id="ppackingHeight" name="ppackingHeight" type="text" class="form-control" value="{{ product.packing_height }}">
							</div>							
							<div class="form-group col-sm-6">
								<label for="ppackingWeight">Empaque - Peso</label>
								<input id="ppackingWeight" name="ppackingWeight" type="text" class="form-control" value="{{ product.packing_weight }}">
							</div>												
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group col-sm-12">
								<h3><b>Logística</b></h3>
							</div>
							<div class="form-group col-sm-6">
								<label for="plogTimeProduction">Logistica - Tiempo de producción</label>
								<input id="plogTimeProduction" name="pLogTimeProduction" type="text" class="form-control" value="{{ product.logistics_productionTime }}">
							</div>	
							<div class="form-group col-sm-6">
								<label for="plogFobDeliveryTime">Logistica - FOB Tiempo de entrega</label>
								<input id="plogFobDeliveryTime" name="pLogFobDeliveryTime" type="text" class="form-control" value="{{ product.logistics_fobDeliveryTime }}">
							</div>
							<div class="form-group col-sm-6">
								<label for="plogFob">Logistica - FOB</label>
								<input id="plogFob" name="pLogFob" type="text" class="form-control" value="{{ product.logistics_fob }}">
							</div>
							<div class="form-group col-sm-6">
								<label for="psample">Muestra</label>
								<input id="psample" name="psample" type="text" class="form-control" value="{{ product.sample }}">
							</div>					
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group col-sm-12">
								<h3><b>Precio</b></h3>
							</div>
                    <div class="form-group col-sm-6">
                        <label for="ppriceWithoutTax">Precio sin impuesto</label>
                        <input id="ppriceWithoutTax" name="ppriceWithoutTax" type="text" class="form-control" value="{{ product.price_withoutTax }}">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="ppriceSuggested">Precio Sugerido</label>
                        <input id="ppriceSuggested" name="ppriceSuggested" type="text" class="form-control" value="{{ product.price_suggested }}">
                    </div>					
						</div>
					</div>



					<div class="form-group col-sm-12">
					&nbsp;
					</div>
					<div class="form-group col-sm-6">
								<h3><b>Galería</b></h3>
								<label for="insertImages"><b>Agregar imágenes</b></label>
								<!----test button--->
								<style>
									.fileUpload {
										position: relative;
										overflow: hidden;
									}
									.fileUpload input.upload {
										position: absolute;
										top: 0;
										right: 0;
										margin: 0;
										padding: 0;
										font-size: 20px;
										cursor: pointer;
										opacity: 0;
										filter: alpha(opacity=0);
									}								
								</style>
								<div class="fileUpload btn btn-blue">
									<span>SELECCIONAR ARCHIVO</span>  
									<!--<input class="upload" type="file">-->
									<input name="insertImages" type="file" class="handle-new upload" data-origen="{{product.s_directory}}" data-prefijo='{{ product.item }}' accept="image/jpeg" style="padding-left: 0;" id="getsIm"/>									
								</div>								
								<!----test end--->
								<button type="button" class="btn btn-primary save-img" >GUARDAR</button>
					</div>
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3">
							<span id="progress-message" class="text-center"></span>
							<progress class="upload-img tool" id="progress" value="0" max="100" data-toggle="tooltip" title="0%"></progress>													
						</div>
					</div>
                    <div class="form-group col-sm-12">
						<div class="col-lg-12">
							<label for="preview"><p>Preview</p></label>						
						<div>
						<ul id="sortable" >
						{% if getImages|length ==0  %}
							<li></li>
						{% else %}
                        {% for imagenes in getImages %}
							<li>
								<div class="form-group col-sm-6">
									<div>
										<img width="250px" class="preview" src="http://yankuserver.com/tamev2/public/uploads/supplier/catalog/{{product.s_directory}}/{{imagenes}}" alt=""/>
									</div>
								</div>							
								<div class="form-group col-sm-6">
									<div>
										<p>{{imagenes}}</p>
									</div>
									<div class="fileUpload btn btn-primary btn-sustitute">
										<span>Sustituir imagen</span>  
										<!--<input class="upload" type="file">-->
										<input name="changeImages" data-last="{{imagenes}}" data-url="{{product.s_directory}}" class="handle-upload btn upload" type="file" accept="image/jpeg"  />									
									</div>										

									<div>
										<button type="button" class="btn btn-danger del-img" data-origin="{{product.s_directory}}" data-delete="{{imagenes}}">
										Eliminar imagen
										</button>
									</div>
									
									<br><br>
									<!--<input name="changeImages" data-last="{{imagenes}}" data-url="{{product.s_directory}}" class="handle-upload btn" type="file" accept="image/jpeg"  />
									<p class="message-file"></p>
									<img class="new-preview" width="250px" src="#" alt="tu imagen " />-->
								</div>						
							
								<div style="clear:both;">
								</div>
							</li>
                        {% endfor %}
						{% endif %}
						</ul>
						</div>							
                    </div>					
					<br>
                    <div class="form-group col-sm-12 text-center">
                        <input id="pid" type="hidden" name="pid" value="{{ product.idProduct }}">
                        <button type="submit" class="btn btn-success">GUARDAR Y PUBLICAR CAMBIOS</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade containerNoPrint" id="modalDelete" tabindex="-1" aria-labelledby="modalDelete">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title">Confirmación</h3>
                <p>Se eliminara el producto: <br> <b>{{ product.name }}</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a href="{{ base_url() }}dashboard/admin/product/delete/{{ product.idProduct }}" class="btn btn-danger">Confirmar</a>
            </div>
        </div>
    </div>
</div>


<div id="containerPrint">
    <div id="imagenesPrint">
        <div>
            <div>
                <img src="{{ base_url() }}public/uploads/supplier/catalog/{{ product.s_directory }}/{{ product.item }}.jpg">
            </div>
            
            {% for img in gallery %}
            <div>
                 <img src="{{ base_url() }}public/uploads/supplier/catalog/{{ product.s_directory }}/{{ img.name }}">
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="descripcionPrint">
        
        <div>
            <p>{{ product.c_name }}</p>
            <h2>{{ product.name }}</h2>
            <h4>${{ product.price_tt }} {{ product.price_currency }}</h4>
            <p>{{ product.header }}</p>
        </div>
        <div>
            <p>{{ product.score }}</p>
        </div>                
        <div>
            <p>{{ product.description }}</p>
            <p>
                <b>Cantidad minima de pedido: </b> {{ product.minimumOrder }}<br>
                <b>Item: </b> {{ product.item }}<br>
                <b>Supplier ID: </b> {{ product.s_custome }}<br>
                <b>Supplier Name: </b> <a href="{{ base_url() }}dashboard/admin/supplier/products/{{ product.s_id }}"> {{ product.s_name }} </a><br>
                <b>Calidad: </b> {{ product.quality }}<br>
                <b>Origen: </b> {{ product.origin }}<br>
                <b>Presentación: </b> {{ product.presentation }}
            </p>
            <div>
                <p>COLORES</p>
                {% for color in colors %}
                    <div>
                        <div></div>
                    </div>
                {% endfor %}
            </div>
            <a>
                CARACTERISTICAS 
            </a>
            <p>
                {% if product.characteristics is empty %}
                    <span>No hay una descripción</span>
                {% else %}
                    {{ product.characteristics }}
                {% endif %}
            </p>
            <a>
                ESPECIFICACIONES 
            </a>
            <p>
                {{ product.especifications }}<br>
                <b>Dimensiones: </b> {{ product.dimensions }}<br>
                <b>Peso: </b> {{ product.weight }}<br>
            </p>
            <a>
                EMPAQUE
            </a>
            <p>
                <b>No. piezas: </b> {{ product.packing_numPieces }}<br>
                <b>Especificaciones: </b> {{ product.packing_especifications }}<br>
                <b>Alto: </b> {{ product.packing_height }}cm<br>
                <b>Ancho: </b> {{ product.packing_width }}cm<br>
                <b>Largo: </b> {{ product.packing_large }}cm<br>
                <b>Peso:</b> {{ product.packing_weight }}kg
            </p>
            <a>
                LOGISTICA
            </a>
            <p>
                <b>Tiempo de producción: </b> {{ product.logistics_productionTime }}<br>
                <b>FOB: </b> {{ product.logistics_fob }}<br>
                <b>Tiempo de entrega FOB: </b> {{ product.logistics_fobDeliveryTime }}<br>
                <b>Muestra fisica: </b> {{ product.sample }}<br>
            </p>
            <a>
                PRECIO
            </a>
            <p>
                <b>Precio s/IVA: </b> ${{ product.price_withoutTax}}<br>
                <b>Moneda: </b> {{ product.price_currency }}<br>
                <b>Precio sugerido: </b> ${{ product.price_suggested }}<br>
                <b>Precio TT: </b> ${{ product.price_tt }}<br>
                {% set utilidad = product.price_tt - product.price_withoutTax %}
                <b>Utilidad: </b> ${{ utilidad }}
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    /*  OCTAVIO */

    function imprimir() {

        if($("#wrapper").toggleClass("toggled")){
            console.log("se colapso...");
            window.print();
        }
        //window.print();
    }

    $(function() {
			$( "#sortable" ).sortable();
			

	
	
        $('#myCarousel').carousel({
            interval: 5000
        });
		$("body").on('click','.modal-body .del-img',function(){
			var here = $(this);	
			var origin = $(this).data('origin');
			var imagen = $(this).data('delete');
			var ruta = '{{ base_url() }}dashboard/admin/product/action/del_img';		
			swal({
			  title: 'Estas seguro que deseas eliminar esta imagen',
			  text: "",
			  type: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Eliminar!'
			}).then(function() {
					
					console.log(origin);
					console.log(imagen);
					console.log(ruta);
					
						$.ajax({
							url: ruta,
							type: "POST",
							data: { origen: origin, imagen: imagen },
							success: function(datos)
							{
								if(datos==1){
								var img     = here.parent().parent().prev().remove();
								var actions = here.parent().parent().remove();
								
								  swal(
									'Eliminado!',
									'Tu archivo se ha borrado correctamente.',
									'success'									
									  )
								}
								else{
									  swal(
										'Lo sentimos!',
										'Intenta de nuevo.',
										'success'									
										  )									
								}
							}
						});				
				
			  
			})		
			/*var origin = $(this).data('origin');
			var imagen = $(this).data('delete');
			var ruta = '{{ base_url() }}dashboard/admin/product/action/del_img';
			if (confirm('Estas seguro que deseas eliminar esta imagen')){
				$.ajax({
					url: ruta,
					type: "POST",
					data: { origen: origin, imagen: imagen },
					success: function(datos)
					{
						console.log(datos);
						if(datos==1){
							alert("Tu imagen se ha borrado correctamente.");
							location.reload();	
						}
						else{
							alert("Tu imagen no se borro correctamente intenta de nuevo");
						}
					}
				});				
			}else{
			   
			}	*/		
		
		});
		
		//Hide progress
		$(".upload-img").hide();
		$(".upload").change(function(){
			$('#progress-message').text("Guarda la imagen pulsando el boton 'GUARDAR'");
		});
		
		//Handles the new upload file
		$('.save-img').on('click',function(){
			$('#progress-message').empty();
			var progressBar = document.getElementById("progress");
			var newfile = document.getElementById('getsIm');
			var prefijo = $('#getsIm').data('prefijo');
			var origen = $('#getsIm').data('origen');
			
			console.log(newfile);
			console.log(prefijo);
			console.log(origen);
			
			// time life progress upload
			function progress(e){

				if(e.lengthComputable){
					
					$(".upload-img").show();
					progressBar.max = e.total;
					progressBar.value = e.loaded;
					
					var current = e.loaded / e.total; 
					var Percentage = current * 100;
					
					console.log(Percentage);
					
					var percentReal = parseInt(Percentage) + ' %';
					$("#progress").attr('data-original-title', percentReal);				
					$('.tool').tooltip({placement: 'bottom',trigger: 'manual'}).tooltip('show');
					
					if(Percentage >= 100)
					{
						$("#progress").attr('data-original-title', percentReal);
						$('.tool').tooltip({placement: 'bottom',trigger: 'manual'}).tooltip('show');
						$('#progress-message').text('Se completo el proceso');
						//alert('Se ha agregado la imagen satisfactoriamente.');
						//location.reload();						
					}
					else{
						$('#progress-message').text('Cargando ...');
					}
				}  
			 }			
			insertar(newfile);
			function insertar(file){
				if (file.files && file.files[0]) {
					if(file.files[0].type == "image/jpeg")
					{
						var reader = new FileReader();
						reader.onload = function (e) {
							//Peticion ajax
								var formData = new FormData();
									formData.append('imagen', newfile.files[0]);
									formData.append('prefijo',prefijo);
									formData.append('origen',origen);
								var ruta = '{{ base_url() }}dashboard/admin/product/action/new_upload_img';
									$.ajax({
										url: ruta,
										type: "POST",
										data: formData,
										xhr: function() {
												var myXhr = $.ajaxSettings.xhr();
												if(myXhr.upload){
													myXhr.upload.addEventListener('progress',progress, false);
												}
												return myXhr;
										},										
										contentType: false,
										processData: false,
										success: function(datos)
										{
										
											var result = JSON.parse(datos);
											if(result.status==1)
											{
													
												$('#progress-message').empty();
												$('#progress-message').text('Tu imagen se ha guardado exitosamente.');
													swal(
													  '',
													  'Se ha agregado la imagen satisfactoriamente',
													  'success'
													)
												var name = result.name;
													addImg(newfile,name);
												//location.reload();											
											}else
												{
													swal(
													  '',
													  'No se pudo completar la operacion, contacte al administrador.',
													  'error'
													)
												}
										},
										error: function(data){
											swal(
											  'Intente de nuevo',
											  'Ocurrio un problema grave, por favor consulte al administrador.',
											  'error'
											)
										
										}										
									});							
							//Fin de la peticion
						}
					}
					else{
					
						swal(
						  'Intente de nuevo',
						  'Imagen inválida, extensíon no permitida.',
						  'error'
						)					
					
					}

					reader.readAsDataURL(file.files[0]);
				}
				else{

					swal(
					  'Intente de nuevo',
					  'Por favor seleccione una imagen válida.',
					  'error'
					)					
				}			
			}			
		});
		//function add img recent upload
		function addImg(file,name){
			if (file.files && file.files[0]) {
				if(file.files[0].type == "image/jpeg")
				{
					var reader = new FileReader();
					
					reader.onload = function (e) {
					var container = $('#sortable');
					var containerli = container.find('li:nth-child(1)');
					
					var li = document.createElement('li');
						div1 = document.createElement('div');
						div1.setAttribute('class','form-group col-sm-6');
					var div11 = document.createElement('div');
					var img = document.createElement('img');
						img.setAttribute('width','250px');
						img.setAttribute('class','preview');
						img.setAttribute('src',e.target.result);
						
						
						jQuery(div11).append(img);
						jQuery(div1).append(div11);
						
						div2 = document.createElement('div');
						div2.setAttribute('class','form-group col-sm-6');
						// Nombre de imagen
						div22 = document.createElement('div');
						div22p = document.createElement('p');
						jQuery(div22p).append(name+'.jpg');
						jQuery(div22).append(div22p);
						jQuery(div2).append(div22);
						// Boton sustituir imagen
						var div3 = document.createElement('div');
							div3.setAttribute('class','fileUpload btn btn-primary btn-sustitute');
						var div3span = document.createElement('span');
							jQuery(div3span).append('Sustituir imagen');
						var div3button = document.createElement('input');
						var datamain = $('body .modal').data('main');
							div3button.setAttribute('name','changeImages');
							div3button.setAttribute('data-last',name+'.jpg');
							div3button.setAttribute('data-url',datamain);
							div3button.setAttribute('class','handle-upload btn upload');
							div3button.setAttribute('type','file');
							div3button.setAttribute('accept','image/jpeg');
						jQuery(div3).append(div3span);
						jQuery(div3).append(div3button);
						jQuery(div2).append(div3);
																					
						// Boton eliminar imagen
						div4 = document.createElement('div');
						div4button = document.createElement('button');
						div4button.setAttribute('type','button');
						div4button.setAttribute('class','btn btn-danger del-img');
						div4button.setAttribute('data-origin',datamain);
						div4button.setAttribute('data-delete',name+'.jpg');
						jQuery(div4button).append('Eliminar imagen');
						jQuery(div4).append(div4button);
						jQuery(div2).append(div4);
						
						var divClear = document.createElement('div');
							divClear.setAttribute('style','clear:both');
						
						jQuery(li).append(div1);
						jQuery(li).append(div2);
						jQuery(li).append(divClear);
						jQuery(containerli).append(li);						

					}
				}
				else{
					swal(
					  '',
					  'Imagen inválida, extensíon no permitida',
					  'error'
					)					
					
				}

				reader.readAsDataURL(file.files[0]);
			}
			else{
				swal(
				  '',
				  'Por favor selecciona un archivo válido.',
				  'error'
				)				
				
			}			
		}		
		//Handles the change upload file preview
		$("body").on('change','.modal .handle-upload',function(){
			
			var newfile = $(this);
			var dis = this;
			var indice = newfile.index();
			var ultimo = newfile.data("last");
			var url = newfile.data("url");
			
			swal({
			  title: 'Desea cambiarlo definitivamente?',
			  text: "Este cambio no es reversible!",
			  type: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Cambiar'
			}).then(function() {
			  checar(dis);
			  swal(
				'',
				'Tu imagen se ha cambiado satisfactoriamente.',
				'success'
			  )
			}, function(dismiss) {
			  if (dismiss === 'cancel') {
				newfile.replaceWith(newfile.clone(true));
				//newfile.attr({ value: '' });
			  }
			})
			function checar(file,mensaje){
				if (file.files && file.files[0]) {
					if(file.files[0].type == "image/jpeg")
					{
						var reader = new FileReader();
						
						reader.onload = function (e) {
							change = newfile.parent().parent().prev().find(".preview");
							
							change.attr('src', e.target.result);
							//Peticion ajax
								var x= $(".handle-upload");
									xy = newfile;
								var formData = new FormData($("#formEditProduct")[0]);
									formData.append("ultimo", ultimo);
									formData.append("url",url);
									formData.append("imagen", file.files[0]);
									
								var ruta = '{{ base_url() }}dashboard/admin/product/action/upload_img';
									$.ajax({
										url: ruta,
										type: "POST",
										data: formData,
										contentType: false,
										processData: false,
										success: function(datos)
										{
											switch(datos){
												case "0":
													swal(
													  '',
													  'Por favor verifica que tu imagen sea válida o intenta nuevamente',
													  'error'
													)																									
												break;
												case "1":
													swal(
													  '',
													  'Ha ocurrido un error, intenta nuevamente.',
													  'error'
													)																									
												break;
												case "2":
													swal(
													  '',
													  'Ha ocurrido un error, intenta nuevamente.',
													  'error'
													)												
												break;
												case "3":
													swal(
													  '',
													  'Se ha cambiado esta imagen satisfactoriamente',
													  'success'
													)																							
												break;												
											}
										}
									});							
							//Fin de la peticion
						}
					}
					else{
						swal(
						  '',
						  'Imagen inválida, extensíon no permitida',
						  'error'
						)					
						
					}

					reader.readAsDataURL(file.files[0]);
				}
				else{
					swal(
					  '',
					  'Lo sentimos en este momento no podemos procesar tu imagen intenta de nuevo.',
					  'error'
					)				
					
				}			
			}
		});		
        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click(function () {
            var id_selector = $(this).attr("id");
            try {
                var id = /-(\d+)$/.exec(id_selector)[1];
                console.log(id_selector, id);
                jQuery('#myCarousel').carousel(parseInt(id));
            } catch (e) {
                console.log('Regex failed!', e);
            }
        });
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid.bs.carousel', function (e) {
            var id = $('.item.active').data('slide-number');
            $('#carousel-text').html($('#slide-content-'+id).html());
        });
        
        $('#formEditProduct').on('submit', function (e) {
        e.preventDefault();

		/*var formData = new FormData($("#formEditProduct")[0]);
			console.log(formData);
		var ruta = '{{ base_url() }}dashboard/admin/product/action/upload_img';
			$.ajax({
				url: ruta,
				type: "POST",
				data: formData,
				contentType: false,
				processData: false,
				success: function(datos)
				{
					console.log(datos);
				}
			});
			
			e.preventDefault();*/
        var btn = $(this).find('button');

        var id = $('#pid').val();
        var row = $('#rowid').val();
        var pName = $("#pname").val();
        var pScore = $("#pscore").val();
        var pHeader = $("#pheader").val();
        var pDescription = $("#pdescription").val();
        var pItem = $('#pitem').val();
        var pCategory = $('#pcategory').val();
        var pSubcategory = $('#psubcat').val();
        var pQuality = $('#pquality').val();
        var pOrigin = $('#porigin').val();
        var pColors = $('#pcolor').val();
        var pPresentation = $('#ppresentation').val();
        var pCharacteristics = $('#pcharacteristics').val();
        var pEspecifications = $('#pspecifications').val();
        var pDimensions = $('#pdimensions').val();
        var pWeight = $('#pweight').val();
        var pMinimumOrder = $('#pminimumOrder').val();
        var pDateExpiry = $('#pdateExpiry').val();
        var pInvNumPieces = $('#pinvNumPieces').val();
        var pBoutiqueMaxOrder = $('#pboutiqueMaxOrder').val();
        var pPriceWithoutTax = $('#ppriceWithoutTax').val();
        var pPriceCurrency = $('#ppriceCurrency').val();
        var pPriceSuggested = $('#ppriceSuggested').val();
        var pPriceTT = $('#ppriceTT').val();
        var pPackingNumPieces = $('#ppackingNumPieces').val();
        var pPackingEspecifications = $('#ppackingSpecifications').val();
        var pPackingHeight = $('#ppackingHeight').val();
        var pPackingWidth = $('#ppackingWidth').val();
        var pPackingLarge = $('#ppackingLarge').val();
        var pPackingWeight = $('#ppackingWeight').val();
        var pPackingLogProductionTime = $('#plogTimeProduction').val();
        var pLogFob = $('#plogFob').val();
        var pLogFobDeliveryTime = $('#plogFobDeliveryTime').val();
        var pSample = $('#psample').val();

         console.log(id)

        $.ajax({
            url: '{{ base_url() }}dashboard/admin/product/action/edit',
            type: 'post',
            dataType: 'html',
            cache: false,
            data: {
                pId : id,
                pName : pName,
                pScore : pScore,
                pHeader : pHeader,
                pDescription : pDescription,
                pItem : pItem,
                pCategory : pCategory,
                pSubcategory : pSubcategory,
                pQuality : pQuality,
                pOrigin : pOrigin,
                pColors : pColors,
                pPresentation : pPresentation,
                pCharacteristics : pCharacteristics,
                pSpecifications : pEspecifications,
                pDimensions : pDimensions,
                pWeight : pWeight,
                pMinimumOrder : pMinimumOrder,
                pDateExpiry : pDateExpiry,
                pInvNumPieces : pInvNumPieces,
                pBoutiqueMaxOrder : pBoutiqueMaxOrder,
                pPriceWithoutTax : pPriceWithoutTax,
                pPriceCurrency : pPriceCurrency,
                pPriceSuggested : pPriceSuggested,
                pPriceTT : pPriceTT,
                pPackingNumPieces : pPackingNumPieces,
                pPackingSpecifications : pPackingEspecifications,
                pPackingHeight : pPackingHeight,
                pPackingWidth : pPackingWidth,
                pPackingLarge : pPackingLarge,
                pPackingWeight : pPackingWeight,
                pLogProductionTime : pPackingLogProductionTime,
                pLogFob : pLogFob,
                pLogFobDeliveryTime : pLogFobDeliveryTime,
                pSample : pSample
            },
            beforeSend: function() {
                btn.prop('disabled', true)
            },
            success: function(response) {

                if (response == '1') {

                    alert('Editado correctamente');
                    location.reload();
                    
                    btn.prop('disabled', false);
                } else {
                    
                }
            },
            error: function(xhr, textStatus) {
                alert('Error: ' + textStatus + '. Si el error persiste comunicate con el administrador.');
                btn.prop('disabled', false);
            }
        });
        });
    });
</script>
{% endblock %}