{% extends 'common/base-admin.html' %}
{% block head %}
{{ parent() }}
<style>
    #bodyWrapper {
        height: 100%;
        background-color: #fff;
    }
</style>
{% endblock %}
{% block body%}
<div  class="container-fluid">
    <div class="row">
        <div class="col-sm-12 margin-bottom--30">
            <h1 class="title-dashboard text-center">
                CATÁLOGO
            </h1>
            <h3 class="text-center">
                {{ products_count }}
                {% if products_count > 1 %}
                    Productos
                {% else %}
                    Producto
                {% endif %}
            </h3>
        </div>
        <div class="col-sm-12 text-right">
            <div class="row margin-bottom--30">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
	                <form action="{{ base_url() }}dashboard/admin/catalog/search" method="get" accept-charset="utf-8">	
	                    <div class="input-group">
	                    	<input name="q" type="text" class="form-control" placeholder="Buscar todo">
	                    	<span class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="fa fa-search"></i>
								</button>
							</span>
		                </div>
	                </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3 margin-bottom--30">
                    <select name="category" id="category" class="form-control">
                        {% for category in categories %}
                            <option data-id="{{ category.idCategory }}" value="{{ category.slug }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-6 col-md-3 margin-bottom--30">
                    <select name="subcategory" id="subcategory" class="form-control">
                        <option value="">Subcategoría</option>					
                    </select>
                </div>
                <div class="col-sm-6 col-md-3 margin-bottom--30">
                    <select name="quality" id="quality" class="form-control">
                        <option value="">Calidad</option>
                        {% for quality in qualities %}
                            <option value="{{ quality.slug }}">{{ quality.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-6 col-md-3 margin-bottom--30">
                    <select name="" id="other" class="form-control">
                        <option value="">Otro</option>
                        <option value="valor">Valor</option>
                        <option value="popularidad">Popularidad</option>
                        <option value="creadoen">Fecha de admisión</option>
                        <option value="entregado">Entregados</option>
                        <option value="menosvalor">Menos Valor</option>
                        <option value="popular">Menos Popular</option>
                        <option value="costo">Costo</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <p class="text-left">
                <a href="{{ base_url() }}dashboard/admin/catalog/add" class="btn btn-info">
                    <i class="fa fa-plus-circle margin-right--5"></i>
                    Agregar
                </a>
            </p>
        </div>
		<div class="col-lg-12">
			<p class="text-left">
                <button class="btn btn-success" data-toggle="modal" data-target="#add-cat">
                    <i class="fa fa-plus-circle margin-right--5"></i>
                    Agregar categoria/subcategoria
                </button>			
			</p>
		</div>
		<div class="modal fade" id="add-cat" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs modal-add text-center margin-top--50" role="tablist">
						<li role="presentation" class="active">
							<a href="#categoryAdd" aria-controls="categoryAdd" role="tab" data-toggle="tab">Agregar categoria</a>
						</li>
						<li role="presentation">
							<a href="#subcategoryAdd" aria-controls="subcategoryAdd" role="tab" data-toggle="tab">Agregar subcategoria</a>
						</li>
					  </ul>

					  <!-- Tab panes -->
					  <div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="categoryAdd">
							<div class="row margin-top--20">

								<div class="col-sm-12 text-center">

									<h1 class="title-dashboard">Agregar Categoría</h1>

								</div>
								<div class="col-sm-12">

									<div class="panel panel-default">

										<div class="panel-body">

											<form action="{{ base_url() }}dashboard/admin/category/add" method="post" id="addcategories" accept-charset="utf-8" enctype="multipart/form-data">

												<div class="form-group">

													<label for="name">Nombre</label>

													<input id="name" name="name" type="text" required class="form-control">

												</div>

												<div class="form-group">

													<label for="slug">Filtro</label>

													<input id="slug" name="slug" type="text" required class="form-control">

												</div>

												<div class="form-group">

													<button class="btn btn-info">Agregar</button>

												</div>

											</form>

										</div>

									</div>

								</div>	
								<div class="col-sm-12">

									<div class="panel panel-default">

										{% if categories_count > 0 %}

										<table class="table table-hover table-category">

											<tr>

												<th>Nombre</th>

												<th>Filtro</th>

												<th>Acciones</th>

											</tr>

											{% for categorie in categories %}

											<tr class="btn-tr">
												
												<td class="form-group"><input class="cat-name" data-id="{{ categorie.idCategory }}" class="form-control" disabled data-value="{{ categorie.name }}" type="text" value="{{ categorie.name }}"></td>

												<td><input class="cat-slug" data-id="{{ categorie.idCategory }}" class="form-control" disabled data-value="{{ categorie.slug }}" type="text" value="{{ categorie.slug }}"></td>

												<td>

													<button class="btn btn-info edit-category" data-id="{{ categorie.idCategory }}">

														Editar

													</button>

													<button class="btn btn-danger del-category" data-id="{{ categorie.idCategory }}">

														Eliminar

													</button>													

												</td>

											</tr>

											{% endfor %}

										</table>

										{% else %}

											<p class="h3 margin-bottom--20 text-muted text-center">No hay categorias registradas</p>

										{% endif %}

									</div>

								</div>								
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="subcategoryAdd">
							<div class="row margin-top--20">

								<div class="col-sm-12 text-center">

									<h1 class="title-dashboard">Agregar Subcategoría</h1>

								</div>
								
								<div class="col-sm-12">

									<div class="panel panel-default">

										<div class="panel-body">

											<form action="{{ base_url() }}dashboard/admin/category/add_subcategory" id="addsubcategories" method="post" accept-charset="utf-8" enctype="multipart/form-data">

												<div class="form-group">

													<label for="category">Categoría</label>

													<select name="category" id="category-list" class="form-control" required>

														<option value="0" disabled>Seleccionar una opción</option>

														{% for category in categories %}

														<option value="{{ category.idCategory }}">{{ category.name }}</option>

														{% endfor %}

													</select>

												</div>
												
												<div class="form-group">

													<label for="name">Nombre</label>

													<input name="name-sub" type="text" class="form-control" required>

												</div>

												<div class="form-group">

													<label for="slug">Filtro</label>

													<input name="slug-sub" type="text" class="form-control" required>

												</div>

												<div class="form-group">

													<button type="submit" class="btn btn-info">Agregar</button>

												</div>

											</form>

										</div>

									</div>

								</div>
								<div class="col-sm-12">

									<div class="panel panel-default">

										{% if subcategories_count > 0 %}

										<table class="table table-hover table-subcategory">

											<tr>

												<th>Nombre</th>

												<th>Filtro</th>

												<th>Categoría</th>

												<th>Acciones</th>

											</tr>

											{% for subcategory in subcategories %}

											<tr class="btn-tr">
												
												<td>
													<input class="subcat-name" data-id="{{ subcategory.sid }}" class="form-control" disabled data-value="{{ subcategory.sname }}" type="text" value="{{ subcategory.sname }}">												
												</td>

												<td>
													<input class="subcat-slug" data-id="{{ subcategory.sid }}" class="form-control" disabled data-value="{{ subcategory.sslug }}" type="text" value="{{ subcategory.sslug }}">
												</td>

												<td>
													<select  data-id="{{ subcategory.sid }}" disabled class="form-control subcat-main">

														<option value="0">Seleccionar una opción</option>

														{% for category in categories %}

															{% if subcategory.cid == category.idCategory %}
																<option selected value="{{ subcategory.cid }}">{{ subcategory.cname }}</option>
																
															{% else %}
																<option value="{{ category.idCategory }}">{{ category.name }}</option>														
																
															{% endif %}
																
														{% endfor %}

													</select>												
<!--<input class="subcat-main"  class="form-control" disabled data-value="{{ subcategory.cid }}"   type="text" value="{{ subcategory.cname }}">-->
												</td>

												<td>

													<button class="btn btn-info edit-subcategory" data-id="{{ subcategory.sid }}">

														Editar

													</button>

													<!--<button class="btn btn-danger" data-toggle="modal" data-id="{{ subcategory.sid }}" data-target="#delete">

														Eliminar

													</button>-->
													<button class="btn btn-danger del-subcategory" data-id="{{ subcategory.sid }}">

														Eliminar

													</button>														

												</td>

											</tr>

											{% endfor %}

										</table>

										{% else %}

										<p class="h3 margin-bottom--20 text-muted text-center">No hay subcategorias registradas</p>

										{% endif %}

									</div>

								</div>								
							</div>
						</div>
					  </div>				
				</div>
				</div>
				</div>
			</div>
		  </div>
		</div>
		<!---- area modal ---->
		<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="modalDelete">

			<div class="modal-dialog modal-sm" role="document">

				<div class="modal-content">

					<div class="modal-body">

						<h3 class="modal-title">Confrimación</h3>

						<p>Confirma que deseas eliminar la categoría <span id="catName"></span></p>

					</div>

					<div class="modal-footer">

						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

						<a id="deleteUrl" href="" class="btn btn-danger">Confirmar</a>

					</div>

				</div>

			</div>

		</div>		
		<!---- end modal  ---->
        <div class="col-sm-12">
            <div class="row">

                {% for product in products %}
                <div class="col-sm-12 col-lg-4">
                    <div class="row">
                        <!--
                        <div class="col-sm-6" style="background: url({{ base_url() }}public/uploads/supplier/catalog/{{ product.directory }}/{{ product.item }}.jpg) no-repeat center; background-size: cover"></div>
                        -->
                        <div class="col-sm-12 text-center">
                            <div class="panel panel-default">
                                <a href="{{ base_url() }}dashboard/admin/catalog/product/{{ product.idProduct }}" class="decoration-none">
                                <div class="panel-heading panel-main" style="background: url({{ base_url() }}public/uploads/supplier/catalog/{{ product.directory }}/{{ product.item }}.jpg) no-repeat center;background-size: cover;">
                                    <div class="panel-main-shadow">

                                    </div>
                                    <div style="position: relative">
                                        <p class="h3 text-uppercase color-white">{{ product.name }}</p>
                                        <p class="color-white">{{ character_limiter(product.description, 100)|e }}...</p>
                                    </div>
                                </div>
                                </a>
                                <div class="panel-body panel-product">
                                    <p class="h2 margin-clear">{{ product.score }}</p>
                                    <hr>
                                    <div class="row margin-bottom--20">
                                     	<a href="{{ base_url() }}dashboard/admin/catalog/product/{{ product.idProduct }}" class="decoration-none">
                                        <div class="col-sm-12 col-md-6">
                                            <b>ITEM</b><br>
                                            {{ product.item }}
                                        </div>
                                        </a>
                                        <a href="{{ base_url }}/tamev2/dashboard/admin/supplier/products/{{ product.id }}" class="decoration-none">
                                        <div class="col-sm-12 col-md-6">
                                            <b>SUPPLIER</b><br>
                                            {{ product.supplier_customeid }}
                                        </div>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <i class="fa fa-thumbs-up fa-lg"></i> 42
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <i class="fa fa-truck fa-lg"></i> 8
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4 text-center" style="padding-top:20px;padding-bottom:20px;">
					<a href="{{ base_url() }}dashboard/admin/catalog?page={{ contador }}" class="btn btn-success">Ver más productos</a>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
	
	var category = "{{ category }}";
	var subcategory = "{{ subcategory }}";
	var quality = "{{ quality }}";
	
	$("#category").val(category);
	$("#subcategory").val(subcategory);
	$("#quality").val(quality);
	
	var subcategoryOptions = $("#subcategory option").length;
	
	if (category.length > 0) {
			getSubcategories();
	}
	
    $("#category").on("change", function() {

		var category = $("#category option:selected");
		location.href = "{{ base_url() }}dashboard/admin/catalog/search?category=" + category.val();
    });
    
    function getSubcategories() {
	    var category = $("#category option:selected");

        $.get("/tamev2/dashboard/admin/catalog/subcategory/" + category.data("id"), function(data) {

            var options = '<option value="">Subcategoría</option>';
            $.each( data, function( key, value ) {
                options += '<option value="' + value.sslug + '"> ' + value.sname + '</option>';
            });

            $("#subcategory").html(options)
            $("#subcategory").val("{{ subcategory }}");
        });
    }
    
    $("#subcategory").on("change", function() {

		var category = $("#category option:selected").val();
		var subcategory = $("#subcategory option:selected");
		var quality= "{{ quality }}";

		if (quality.length > 0) {
			location.href = "{{ base_url() }}dashboard/admin/catalog/search?category=" + category + "&subcategory=" + subcategory.val() + "&quality=" + quality;
		} else {
			location.href = "{{ base_url() }}dashboard/admin/catalog/search?category=" + category + "&subcategory=" + subcategory.val();
		}
    });
    
    $("#quality").on("change", function() {

		var category = "{{ category }}";
		var subcategory = "{{ subcategory }}";
		var quality= $("#quality option:selected");

		if (category.length > 0) {
			if (subcategory.length > 0) {
	    		location.href = "{{ base_url() }}dashboard/admin/catalog/search?category=" + category + "&subcategory=" + subcategory + "&quality=" + quality.val(); 
	    	} else {
        		location.href = "{{ base_url() }}dashboard/admin/catalog/search?category=" + category + "&quality=" + quality.val();
        	}
        } else {
	        location.href = "{{ base_url() }}dashboard/admin/catalog/search?quality=" + quality.val();
        }
    });
	
	$('body').on('click','.del-category',function(){
	var  button = $(this);
	 var id     = button.data('id');
		swal({
		  title: '¿Deseas eliminar esta categoría?',
		  text: "",
		  type: 'warning',
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: 'Eliminar!'
		}).then(function() {
		
			$.get("{{ base_url() }}dashboard/admin/category/delete/" + id, function(data) {

				if(data==1){
				button.parent().parent().remove();
				}
				else{
					swal(
					  'Lo sentimos algo fallo?',
					  'Por favor contacta al administrador o intenta mas tarde.',
					  'error'
					)				
				}
			});		
			
		  swal(
			'Eliminado!',
			'Este cambio no es reversible',
			'success'
		  )
		})		
	});
	
	$('body').on('click','.del-subcategory',function(){
	var  button = $(this);
	 var id     = button.data('id');
		swal({
		  title: '¿Deseas eliminar esta subcategoría?',
		  text: "",
		  type: 'warning',
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: 'Eliminar!'
		}).then(function() {
		
			$.get("{{ base_url() }}dashboard/admin/category/delete_subcategory/" + id, function(data) {
				
				if(data==1){
				button.parent().parent().remove();
				}
				else{
					swal(
					  'Lo sentimos algo fallo?',
					  'Por favor contacta al administrador o intenta mas tarde.',
					  'error'
					)				
				}
			});		
			
		  swal(
			'Eliminado!',
			'Este cambio no es reversible',
			'success'
		  )
		})	
	});
	
	status = 0;
	$('body').on('click','.edit-category',function(){
		var button = $(this);
		if( status%2 == 0 ){
			edit_label = button.text('Guardar');
			button.parent().parent().find('.cat-name').prop('disabled',false);
			button.parent().parent().find('.cat-slug').prop('disabled',false);			
			
		}
		else{

			var name_id = button.parent().parent().find('.cat-name').data('id');
			var slug_id = button.parent().parent().find('.cat-name').data('id');
			
			var name = button.parent().parent().find('.cat-name').val();
			var slug = button.parent().parent().find('.cat-slug').val();
			
				dataInf = {
							id_name :name_id, 
							id_slug :slug_id,
							name    :name,
							slug    :slug
						  };

				$.post("{{ base_url() }}dashboard/admin/category/update/",dataInf,function(data) {
					if( data==1 ){
						edit_label = button.text('Editar');	
						button.parent().parent().find('.cat-name').prop('disabled',true);
						button.parent().parent().find('.cat-slug').prop('disabled',true);					
						swal(
						  'Cambio exitoso',
						  '',
						  'success'
						)					
					}
					else if( data == 2){
						edit_label = button.text('Editar');	
						button.parent().parent().find('.cat-name').prop('disabled',true);
						button.parent().parent().find('.cat-slug').prop('disabled',true);
					}else{
						swal(
						  'Lo sentimos, intenta mas tarde.',
						  '',
						  'error'
						)				
					}
				});	
		}
		status++;
	});
	
	
	$('body').on('click','.edit-subcategory',function(){
		var button = $(this);
		if( status%2 == 0 ){
			edit_label = button.text('Guardar');
			button.parent().parent().find('.subcat-name').prop('disabled',false);
			button.parent().parent().find('.subcat-slug').prop('disabled',false);	
			button.parent().parent().find('.subcat-main').prop('disabled',false);				
			console.log("no guardar");
		}
		else{
			console.log("guardar");
			var name_sub_id = button.parent().parent().find('.subcat-name').data('id');
			var slug_sub_id   = button.parent().parent().find('.subcat-slug').data('id');
			var id_sub_id     = button.parent().parent().find('.subcat-main').data('id');			
			
			var name = button.parent().parent().find('.subcat-name').val();
			var slug = button.parent().parent().find('.subcat-slug').val();
			var id   = button.parent().parent().find('.subcat-main option:selected').val();
			
				dataInf = {
							indice  : id_sub_id,
							id_name : name_sub_id, 
							id_slug : slug_sub_id,
							id      : id,
							name    :name,
							slug    :slug
						  };

				$.post("{{ base_url() }}dashboard/admin/category/update_subcategory",dataInf,function(data) {
					if( data==1 ){
						edit_label = button.text('Editar');	
						button.parent().parent().find('.subcat-name').prop('disabled',true);
						button.parent().parent().find('.subcat-slug').prop('disabled',true);	
						button.parent().parent().find('.subcat-main').prop('disabled',true);							
						swal(
						  'Cambio exitoso',
						  '',
						  'success'
						)					
					}
					else if( data == 2){
						edit_label = button.text('Editar');	
						button.parent().parent().find('.subcat-name').prop('disabled',true);
						button.parent().parent().find('.subcat-slug').prop('disabled',true);
						button.parent().parent().find('.subcat-main').prop('disabled',true);
					}else{
						swal(
						  'Lo sentimos, intenta mas tarde.',
						  '',
						  'error'
						)				
					}
				});	
		}
		status++;
	});
	
	$('#addcategories').on('submit',function(e){
		e.preventDefault();
		form = $(this);
		serializ = form.serialize();
		$.post("{{ base_url() }}dashboard/admin/category/add/",form.serialize(),function(data) {
		  var table = $('.table-category>tbody tr:nth-child(1)');
		  var name = $('#addcategories :input[name=name]').val();
		  var slug = $('#addcategories :input[name=slug]').val();
		  var th1 = "<input class='cat-name' data-id='"+data+"' disabled data-value='"+name+"' type='text' value='"+name+"'>";
		  var th2 = "<input class='cat-slug' data-id='"+data+"' disabled data-value='"+slug+"' type='text' value='"+slug+"'>";
		  var th3 = "<button class='btn btn-info edit-category' data-id="+data+">Editar</button>  <button class='btn btn-danger del-category' data-id="+data+">Eliminar</button>";
		  $('.table-category>tbody tr:nth-child(1)').after("<tr class='btn-tr'><td class='form-group'>"+th1+"</td><td>"+th2+"</td><td>"+th3+"</td></tr>");
		 $('#addcategories')[0].reset();
		if( data != 0 ){
			swal(
			  'Se ha guardado tu categoria correctamente.',
			  '',
			  'success'
			)		
		}else{
			swal(
			  'Lo sentimos, intenta mas tarde.',
			  '',
			  'error'
			)		
		
		}
		});			
		
	});
	
	$('#addsubcategories').on('submit',function(e){
		e.preventDefault();
		form = $(this);
		$.post(form.attr('action'),form.serialize(),function(data) {
		 var table = $('.table-subcategory>tbody tr:nth-child(1)');
		  
		  var name = $('#addsubcategories :input[name=name-sub]').val();
		  var slug = $('#addsubcategories :input[name=slug-sub]').val();
		  var cat_id = $('#addsubcategories select option:selected').val();
		  var cat_text = $('#addsubcategories select option:selected').text();
		  
		  var texto_select = $('#category-list option:selected').text();
		  var id_select = $('#category-list option:selected').val();		  
		  
		  var th1 = "<input class='subcat-name' data-id='"+data+"' disabled data-value='"+name+"' type='text' value='"+name+"'>";
		  var th2 = "<input class='subcat-slug' data-id='"+data+"' disabled data-value='"+slug+"' type='text' value='"+slug+"'>";
		  var th3 = "<select data-id='"+data+"' disabled class='form-control subcat-main'><option value='"+id_select+"'>"+texto_select+"</option></select>";
				  
		  var th4 = "<button class='btn btn-info edit-subcategory' data-id='"+data+"'>Editar</button> <button class='btn btn-danger del-subcategory' data-id='"+data+"'>Eliminar</button>";
		  $('.table-subcategory>tbody tr:nth-child(1)').after("<tr class='btn-tr'><td>"+th1+"</td><td>"+th2+"</td><td>"+th3+"</td><td>"+th4+"</td></tr>");
		 

		 $('#category-list').find('option').clone().appendTo('.table-subcategory tbody tr:nth-child(2) td:nth-child(3) select');
		 
		if( data != 0 ){
			swal(
			  'Se ha guardado tu subcategoria correctamente.',
			  '',
			  'success'
			)		
		}else{
			swal(
			  'Lo sentimos, intenta mas tarde.',
			  '',
			  'error'
			)		
		
		}
		});
		
		
	});	
    /*$("#other").on("change", function() {

		var category = "{{ category }}";
		var subcategory = "{{ subcategory }}";
		var quality= $("#quality option:selected");
		var other= $("#quality option:selected");
		alert("En construcción");
		if (category.length > 0) {
			if (subcategory.length > 0) {
	    		location.href = "{{ base_url() }}dashboard/admin/catalog/search?category=" + category + "&subcategory=" + subcategory + "&quality=" + quality.val(); 
	    	} else {
        		location.href = "{{ base_url() }}dashboard/admin/catalog/search?category=" + category + "&quality=" + quality.val();
        	}
        } else {
	        location.href = "{{ base_url() }}dashboard/admin/catalog/search?quality=" + quality.val();
        }
    });	*/
    
</script>
<style>

</style>
{% endblock %}