{% extends 'common/base-admin.html' %}
{% block head %}
{{ parent() }}
<style>
    #bodyWrapper {
        height: 100%;
        background-color: #fff;
    }
</style>
{% endblock %}
{% block body%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="title-dashboard">Agregar Categoría</h1>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="{{ base_url() }}dashboard/admin/category/add" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input id="name" name="name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="slug">Filtro</label>
                            <input id="slug" name="slug" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                {% if categories_count > 0 %}
                <table class="table table-hover">
                    <tr>
                        <th>Nombre</th>
                        <th>Filtro</th>
                        <th>Acciones</th>
                    </tr>
                    {% for categorie in categories %}
                    <tr class="btn-tr">
                        <td id="cat-name-{{ categorie.idCategory }}" data-value="{{ categorie.name }}" >{{ categorie.name }}</td>
                        <td id="cat-slug-{{ categorie.idCategory }}" data-value="{{ categorie.slug }}">{{ categorie.slug }}</td>
                        <td>
                            <button class="btn btn-info" data-toggle="modal" data-target="#edit" data-id="{{ categorie.idCategory }}">
                                Editar
                            </button>
                            <button class="btn btn-danger" data-toggle="modal" data-id="{{ categorie.idCategory }}" data-target="#delete">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <p class="h3 margin-bottom--20 text-muted text-center">No hay categorias registradas</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar Categoría</h4>
            </div>
            <div class="modal-body">
                <form action="{{ base_url() }}dashboard/admin/category/update" method="post" accept-charset="utf-8">
                    <div class="form-group">
                        <label for="editCatName">Nombre</label>
                        <input name="editCatName" type="text" id="editCatName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="editCatSlug">Slug</label>
                        <input name="editCatSlug" type="text" id="editCatSlug" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="id" id="editCatId">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="modalDelete">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title">Confrimación</h3>
                <p>Confirma que deseas eliminar la categoría <span id="catName"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a id="deleteUrl" href="" class="btn btn-danger">Confirmar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>

    var normalize = (function() {
        var from = "ÃÀÁÄÂÈÉËÊÌÍÏÎÒÓÖÔÙÚÜÛãàáäâèéëêìíïîòóöôùúüûÑñÇç",
                to   = "AAAAAEEEEIIIIOOOOUUUUaaaaaeeeeiiiioooouuuunncc",
                mapping = {};

        for(var i = 0, j = from.length; i < j; i++ )
            mapping[ from.charAt( i ) ] = to.charAt( i );

        return function( str ) {
            var ret = [];
            for( var i = 0, j = str.length; i < j; i++ ) {
                var c = str.charAt( i );
                if( mapping.hasOwnProperty( str.charAt( i ) ) )
                    ret.push( mapping[ c ] );
                else
                    ret.push( c );
            }
            return ret.join( '' );
        }

    })();

    $(function(){
        $("#name").on("keyup", function() {
            var text = $(this).val();

            var cleanSpace = text.replace(" ", "");
            cleanSpace = cleanSpace.replace("/", "");

            $("#slug").val(normalize(cleanSpace.toLowerCase()));
        });

        $('#edit').on('show.bs.modal', function (event) {

            var modal = $(this)
            var button = $(event.relatedTarget)

            var id = button.data('id')
            var name = $("#cat-name-" + id).data('value');
            var slug = $('#cat-slug-' + id).data('value');

            modal.find('.modal-title').text('Editar ' + name)
            modal.find('.modal-body #editCatName').val(name)
            modal.find('.modal-body #editCatSlug').val(slug)
            modal.find('.modal-body #editCatId').val(id)
        })

        $('#delete').on('show.bs.modal', function (event) {

            var modal = $(this)
            var button = $(event.relatedTarget)

            var id = button.data('id')
            var name = $("#cat-name-" + id).data('value');

            modal.find('#catName').html(name)
            modal.find('.modal-footer #deleteUrl').attr('href', '{{ base_url() }}dashboard/admin/category/delete/' + id)
        })
    });




</script>
{% endblock %}