{% extends 'common/base-admin.html' %}
{% block body%}
	 <div class="container-fluid">
         <div class="row">
             <div class="col-sm-12">
                 <span class="title-office-yellow">USUARIOS</span>
             </div>
         </div>
     </div>
{% endblock %}