{% extends 'common/base-admin.html' %}
{% block head %}
    <style>
        body {
            background: url("{{ base_url() }}public/assets/img/office_1.png") no-repeat center;
            background-size: cover;
        }
    </style>
{% endblock %}
{% block sidebar %}{% endblock %}
{% block navbar %}{% endblock %}
{% block body%}
	<div class="container-fluid bg-dark" style="height: 150px">
		<div class="row">
			<div class="col-sm-12 text-center margin-top--50">
				<img src="{{ base_url() }}public/assets/img/logo-tt.svg" height="50">
				<p class="color-white font-weight--300">Areá de administración</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				<h3 class="margin-bottom--20">Iniciar Sesión</h3>
				<form action="{{ base_url() }}dashboard/admin/user/login_action" method="" accept-charset="utf-8">
					<label for="user">Usuario</label>
					<input id="user" type="text" name="user" class="form-control margin-bottom--10">
					<label for="pass">Contraseña</label>
					<input id="pass" type="password" name="pass" class="form-control margin-bottom--20">
					<button class="btn btn-default btn-block">Ingresar</button>
				</form>
				<a href="#" class="btn btn-link btn-block margin-top--20">Recuperar contraseña</a>
			</div>
		</div>
	</div>
{% endblock %}