{% extends 'common/base-admin.html' %}
{% block head %}
{{ parent() }}
<style>
    #bodyWrapper {
        height: 100%;
        background-color: #fff;
    }
</style>
{% endblock %}
{% block body%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <form action="">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input id="name" name="name" type="text" class="form-control" value="{{ product.name }}">
                        </div>
                        <div class="form-group">
                            <label for="price">Precio</label>
                            <input id="price" name="price" type="text" class="form-control" value="{{ product.price_withoutTax }}">
                        </div>
                        <div class="form-group">
                            <label for="score">Calificación</label>
                            <input id="score" name="score" type="text" class="form-control" value="{{ product.score }}">
                        </div>
                        <div class="form-group">
                            <label for="header">Header</label>
                            <input id="header" name="header" type="text" class="form-control" value="{{ product.header }}">
                        </div>
                        <div class="form-group">
                            <label for="description">Descripción</label>
                            <textarea name="description" id="description" cols="30" rows="10" class="form-control">
                                {{ product.description }}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for=""></label>
                            <input id="" name="" type="text" class="form-control" value="{{ product.price_withoutTax }}">
                        </div>
                    </form>
                </div>
                <div class="col-lg-8">
                    <p class="text-muted">{{ product.c_name }}</p>
                    <h2 class="margin-clear margin-bottom--10">{{ product.name }}</h2>
                    <h4 class="margin-clear margin-bottom--10 text-muted">${{ product.price_withoutTax }} {{ product.price_currency }}</h4>
                    <p class="lead margin-clear margin-bottom--10">{{ product.header }}</p>
                </div>
                <div class="col-lg-4 text-right">
                    <p class="h1">{{ product.score }}</p>
                </div>
                <div class="col-sm-12">
                    <p>{{ product.description }}</p>
                    <hr>
                    <p>
                        <b>Cantidad minima de pedido: </b> {{ product.minimumOrder }}<br>
                        <b>Item: </b> {{ product.item }}<br>
                        <b>Supplier ID: </b> {{ product.s_custome }}<br>
                        <b>Calidad: </b> {{ product.quality }}<br>
                        <b>Origen: </b> {{ product.origin }}<br>
                        <b>Presentación: </b> {{ product.presentation }}
                    </p>
                    <a class="btn btn-link btn-block" role="button" data-toggle="collapse" href="#collapseCharacteristics" aria-expanded="false" aria-controls="collapseExample">
                        CARACTERISTICAS <i class="fa fa-angle-down fa-lg"></i>
                    </a>
                    <p class="collapse" id="collapseCharacteristics">
                        {% if product.characteristics is empty %}
                        <span class="text-muted">No hay una descripción</span>
                        {% else %}
                        {{ product.characteristics }}
                        {% endif %}
                    </p>
                    <hr class="margin-clear margin-bottom--10">
                    <a class="btn btn-link btn-block" role="button" data-toggle="collapse" href="#collapseEspecifications" aria-expanded="false" aria-controls="collapseExample">
                        ESPECIFICACIONES <i class="fa fa-angle-down fa-lg"></i>
                    </a>
                    <p class="collapse" id="collapseEspecifications">
                        {{ product.especifications }}<br><br>
                        <b>Dimensiones: </b> {{ product.dimensions }}<br>
                        <b>Peso: </b> {{ product.weight }}<br><br>

                    </p>
                    <hr class="margin-clear margin-bottom--10">
                    <a class="btn btn-link btn-block" role="button" data-toggle="collapse" href="#collapsePacking" aria-expanded="false" aria-controls="collapseExample">
                        EMPAQUE <i class="fa fa-angle-down fa-lg"></i>
                    </a>
                    <p class="collapse" id="collapsePacking">
                        <b>No. piezas: </b> {{ product.packing_numPieces }}<br>
                        <b>Especificaciones: </b> {{ product.packing_especifications }}<br>
                        <b>Alto: </b> {{ product.packing_height }}cm<br>
                        <b>Ancho: </b> {{ product.packing_width }}cm<br>
                        <b>Largo: </b> {{ product.packing_large }}cm<br>
                        <b>Peso:</b> {{ product.packing_weight }}kg
                    </p>
                    <hr class="margin-clear margin-bottom--10">
                    <a class="btn btn-link btn-block" role="button" data-toggle="collapse" href="#collapseLogistic" aria-expanded="false" aria-controls="collapseExample">
                        LOGISTICA <i class="fa fa-angle-down fa-lg"></i>
                    </a>
                    <p class="collapse" id="collapseLogistic">
                        <b>Tiempo de producción: </b> {{ product.logistics_productionTime }}<br>
                        <b>FOB: </b> {{ product.logistics_fob }}<br>
                        <b>Tiempo de entrega FOB: </b> {{ product.logistics_fobDeliveryTime }}<br>
                        <b>Muestra fisica: </b> {{ product.sample }}<br>
                    </p>
                    <hr class="margin-clear margin-bottom--10">
                    <a class="btn btn-link btn-block" role="button" data-toggle="collapse" href="#collapsePrice" aria-expanded="false" aria-controls="collapseExample">
                        PRECIO <i class="fa fa-angle-down fa-lg"></i>
                    </a>
                    <p class="collapse" id="collapsePrice">
                        <b>Precio s/IVA: </b> ${{ product.price_withoutTax}}<br>
                        <b>Moneda: </b> {{ product.price_currency }}<br>
                        <b>Precio sugerido: </b> ${{ product.price_suggested }}<br>
                        <b>Precio TT: </b> ${{ product.price_tt }}<br>
                        {% set utilidad = product.price_tt - product.price_withoutTax %}
                        <b>Utilidad: </b> ${{ utilidad }}
                    </p>
                    <hr class="margin-clear margin-bottom--10">
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        {% for color in colors %}
                        <div class="col-sm-1">
                            <div class="panel" style="height: 20px; background: {{ color }}"></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(function() {

        $('#myCarousel').carousel({
            interval: 5000
        });

        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click(function () {
            var id_selector = $(this).attr("id");
            try {
                var id = /-(\d+)$/.exec(id_selector)[1];
                console.log(id_selector, id);
                jQuery('#myCarousel').carousel(parseInt(id));
            } catch (e) {
                console.log('Regex failed!', e);
            }
        });
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid.bs.carousel', function (e) {
            var id = $('.item.active').data('slide-number');
            $('#carousel-text').html($('#slide-content-'+id).html());
        });
    });
</script>
{% endblock %}