<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">    
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ base_url() }}public/assets/img/favicon.ico" />        
    <style>
        .gallery div img {
            width: 250px;
        }
        .gallery div {
            margin: 0 auto;
            padding: 0;
        }        
        hr {
            color: #a9a9a9;
            height: 1px;
        }        
        p {
            font-family: helvetica;
            font-size: 11px;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            text-rendering: optimizeLegibility;
            color: #666;
            padding: 0;
            margin: 0;
        }
        h1, h2, h3, h4 {
            color: #333;
            margin: 0 auto;
            padding: 0;
            line-height: normal;            
        }
    </style>  
</head>
<body>
    <div>        
        <div class="row">
            <table border="0">
               <tr>
                 <td>
                   <div class="gallery">
                       <div>
                           <img src="{{ base_url() }}public/uploads/supplier/catalog/{{ product.s_directory }}/{{ product.item }}.jpg">
                       </div>            
                       {% for img in gallery %}
                       <div>
                            <img src="{{ base_url() }}public/uploads/supplier/catalog/{{ product.s_directory }}/{{ img.name }}">
                       </div>
                       {% endfor %}
                   </div>
                 </td>                         
                 <td>
                   <div class="summary">
                       <div>                                   
                           <h1 class="product-name">{{ product.name }}</h1>
                           <h2 class="product-title">{{ product.header }}</h2>
                           <h3 class="product-score">Calificacion: {{ product.score }}</h3>
                           <p class="product-price">${{ product.price_tt }} {{ product.price_currency }}</p>
                           <p class="product-description">{{ product.description }}</p>                                                  
                           <p>
                               <strong>Cantidad minima de pedido:</strong> {{ product.minimumOrder }}<br>
                               <strong>Item:</strong> {{ product.item }}<br>
                               <strong>Supplier ID: </strong> {{ product.s_custome }}<br>
                               <strong>Supplier Name:</strong> <a href="{{ base_url() }}dashboard/admin/supplier/products/{{ product.s_id }}"> {{ product.s_name }} </a><br>
                               <strong>Calidad:</strong> {{ product.quality }}<br>
                               <strong>Origen:</strong> {{ product.origin2 }}<br>
                               <strong>Procedencia:</strong> {{ product.origin }}<br>
                               <strong>Presentación:</strong> {{ product.presentation }}
                           </p>
                           <br>
                               <h4>COLORES</h4>
                               {% for color in colors %}          
                                   <div style="background-color: {{ color }}; padding: 10px;"></div>
                               {% endfor %}                           
                            <br>
                            <h4>CARACTERISTICAS</h4>
                               <p>
                                  {% if product.characteristics is empty %}
                                       <span class="text-muted">No hay una descripción</span>
                                  {% else %}
                                      {{ product.characteristics }}
                                  {% endif %}
                               </p>                                       
                           <h4>ESPECIFICACIONES</h4>
                           <p>
                               {{ product.especifications }}<br><br>
                               <strong>Dimensiones:</strong> {{ product.dimensions }}<br>
                               <strong>Peso:</strong> {{ product.weight }}<br><br>                                
                           </p>                           
                           <h4>EMPAQUE</h4>
                           <p>
                               <strong>No. piezas:</strong> {{ product.packing_numPieces }}<br>
                               <strong>Especificaciones: </strong> {{ product.packing_especifications }}<br>
                               <strong>Alto:</strong> {{ product.packing_height }}cm<br>
                               <strong>Ancho:</strong> {{ product.packing_width }}cm<br>
                               <strong>Largo:</strong> {{ product.packing_large }}cm<br>
                               <strong>Peso:</strong> {{ product.packing_weight }}kg
                           </p>                           
                           <h4>LOGISTICA</h4>
                           <p>
                               <strong>Tiempo de producción:</strong> {{ product.logistics_productionTime }}<br>
                               <strong>FOB:</strong> {{ product.logistics_fob }}<br>
                               <strong>Tiempo de entrega FOB:</strong> {{ product.logistics_fobDeliveryTime }}<br>
                               <strong>Muestra fisica:</strong> {{ product.sample }}<br>
                           </p>                           
                           <h4>PRECIO</h4>
                           <p>
                               <strong>Precio s/IVA:</strong> ${{ product.price_withoutTax}}<br>
                               <strong>Moneda:</strong> {{ product.price_currency }}<br>
                               <strong>Precio sugerido:</strong> ${{ product.price_suggested }}<br>
                               <strong>Precio TT:</strong> ${{ product.price_tt }}<br>
                               {% set utilidad = product.price_tt - product.price_withoutTax %}
                               <strong>Utilidad:</strong> ${{ utilidad }}
                           </p>                                   
                       </div> 
                   </div>
                 </td>          
               </tr>        
            </table>
        </div>
    </div>    
</body>
</html>