{% extends 'common/base-admin.html' %}
{% block head %}
	{{ parent() }}
	<style>
	#bodyWrapper {
		height: 100%;
		background-color: #fff;
	}
	</style>
{% endblock %}
{% block body%}
	<div  class="container-fluid">
		<div class="row">
			<div class="col-sm-12 margin-bottom--30">
				<h1 class="title-dashboard text-center">
					SUPPLIER TEAM
				</h1>
				<h3 class="text-center">
					{{ suppliers_count }}
					{% if suppliers_count > 1 %}
						Proveedores
					{% else %}
						Proveedor
					{% endif %}
				</h3>
			</div>
			<div class="col-sm-12 text-right">
				<div class="row margin-bottom--30">
					<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
						<form method="GET" action="{{ base_url() }}dashboard/admin/supplier/search?">
							<div class="input-group">
								<input type="text" name="q" class="form-control" placeholder="Buscar todo">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-3 margin-bottom--30">
					    <select name="category" id="category" class="form-control">
					        <option value="">Categoría</option>
					        {% for category in categories %}
					            <option data-id="{{ category.idCategory }}" value="{{ category.slug }}">{{ category.name }}</option>
					        {% endfor %}
					    </select>
					</div>					
					<!-- <div class="col-sm-6 col-md-3 margin-bottom--30">
						<select name="" id="" class="form-control">
							<option value="">Categoría</option>
							<option value="">...</option>
						</select>
					</div> -->
					<div class="col-sm-6 col-md-3 margin-bottom--30">
						<select name="" id="subcategory" class="form-control">
							<option value="">Subcategoría</option>
							<option value="">...</option>
						</select>
					</div>
					<div class="col-sm-6 col-md-3 margin-bottom--30">
						<select name="" id="" class="form-control">
							<option value="">Tipo</option>
							<option value="">Catálogo</option>
							<option value="">Desarrollo de Producto</option>
							<option value="">Smart Line Product</option>
						</select>
					</div>
					<div class="col-sm-6 col-md-3 margin-bottom--30">
						<select name="" id="" class="form-control">
							<option value="">Otro</option>
							<option value="">Valor</option>
							<option value="">Popularidad</option>
							<option value="">Fecha de admisión</option>
							<option value="">Más Productos</option>
							<option value="">Menos Productos</option>
							<option value="">Menos Valor</option>
							<option value="">Menos Popular</option>
							<option value="">A-Z</option>
							<option value="">Z-A</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<p class="text-left">
					<a href="{{ base_url() }}dashboard/admin/supplier/add" class="btn btn-success">
						<i class="fa fa-plus-circle margin-right--5"></i>
						Agregar
					</a>
				</p>
				<div class="panel panel-default">
					{% if suppliers_count > 0 %}
					<table class="table table-hover">
						<tr>
							<th>Nombre del Proveedor</th>
							<th>ID</th>
							<th>Número de Productos</th>
							<th>Fecha de Admisión</th>
							<th>Calificación</th>
							<th>Acciones</th>
						</tr>
						{% for supplier in suppliers %}
							<tr class="btn-tr" data-id="{{ supplier.idSupplier }}">
								<td>{{ supplier.name }}</td>
								<td>{{ supplier.idcustome }}</td>
								<td>{{ supplier.number_products }}</td>
								<td>{{ supplier.registered }}</td>
								<td>{{ supplier.total_score / supplier.number_products }}</td>
								<td>
									<a href="{{ base_url() }}dashboard/admin/supplier/products/{{ supplier.idSupplier }}" class="btn btn-info btn-sm">
										<span class="fa fa-info-circle margin-right--5"></span>
										Ver info
									</a>
								</td>
							</tr>
						{% endfor %}
					</table>
					{% else %}
					<p class="h3 margin-bottom--20 text-muted text-center">No hay proveedores registrados</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
<script>
	
	var category = "{{ category }}";
	console.log(category);
	var subcategory = "{{ subcategory }}";
	var quality = "{{ quality }}";
	
	$("#category").val(category);
	$("#subcategory").val(subcategory);
	$("#quality").val(quality);
	
	var subcategoryOptions = $("#subcategory option").length;
	
	if (category.length > 0) {
			getSubcategories();
			console.log('done');
	}
	else{
		console.log(" fail");
	}
	
    $("#category").on("change", function() {

		var category = $("#category option:selected");
		location.href = "{{ base_url() }}dashboard/admin/supplier/search?category=" + category.val();
    });
    
    function getSubcategories() {
	    var category = $("#category option:selected");

        $.get("/tamev2/dashboard/admin/supplier/subcategory/" + category.data("id"), function(data) {
			console.log(data);
            var options = '<option value="">Subcategoría</option>';
			
            $.each( data, function( key, value ) {
                options += '<option value="' + value.sslug + '"> ' + value.sname + '</option>';
            });

            $("#subcategory").html(options)
            $("#subcategory").val("{{ subcategory }}");
        });
    }
    
    $("#subcategory").on("change", function() {

		var category = $("#category option:selected").val();
		var subcategory = $("#subcategory option:selected");
		var quality= "{{ quality }}";

		if (quality.length > 0) {
			location.href = "{{ base_url() }}dashboard/admin/supplier/search?category=" + category + "&subcategory=" + subcategory.val() + "&quality=" + quality;
		} else {
			location.href = "{{ base_url() }}dashboard/admin/supplier/search?category=" + category + "&subcategory=" + subcategory.val();
		}
    });
    
    /*$("#quality").on("change", function() {

		var category = "{{ category }}";
		var subcategory = "{{ subcategory }}";
		var quality= $("#quality option:selected");

		if (category.length > 0) {
			if (subcategory.length > 0) {
	    		location.href = "{{ base_url() }}dashboard/admin/catalog/search?category=" + category + "&subcategory=" + subcategory + "&quality=" + quality.val(); 
	    	} else {
        		location.href = "{{ base_url() }}dashboard/admin/catalog/search?category=" + category + "&quality=" + quality.val();
        	}
        } else {
	        location.href = "{{ base_url() }}dashboard/admin/catalog/search?quality=" + quality.val();
        }
    });*/
    
</script>
{% endblock %}