{% extends 'common/base-admin.html' %}
{% block head %}
{{ parent() }}
<style>
    #bodyWrapper {
        height: 100%;
        background-color: #fff;
    }
</style>
{% endblock %}
{% block body%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 text-center">
            <h1 class="title-dashboard text-uppercase">Vista Previa</h1>
        </div>
        <div class="col-sm-6 text-right">
            <a href="{{ base_url() }}dashboard/admin/catalog/add" class="btn btn-sm btn-success">
                <i class="fa fa-plus-circle fa-right--10"></i>
                Agregar
            </a>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="margin-clear">{{ supplier.name }}</h4>
                    <p class="text-muted">{{ supplier.description }}</p>
                </div>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Item</th>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Calificación</th>
                    </tr>
                    {% for product in products %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ product[5] }}</td>
                            <td>
                                <img src="{{ base_url() }}public/uploads/supplier/catalog/{{ supplier.directory }}/{{ product[5] }}.jpg" alt="" height="50">
                            </td>
                            <td>{{ product[2] }}</td>
                            <td>{{ product[0] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}