{% extends 'common/base-admin.html' %}
{% block head %}
{{ parent() }}
<style>
	#bodyWrapper {
		height: 100%;
		background-color: #fff;
	}
</style>
{% endblock %}
{% block body%}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="title-dashboard">Agregar Supplier y Catálogo</h1>
				<br><br>
			</div>			
			<div class="col-sm-10 col-md-offset-1">				
				<div class="panel panel-default">
					<div class="panel-body">
						{% if error.validation is not empty %}
							<div class="alert alert-danger">
								<p>{{ error.validation }}</p>
							</div>

								{% for info in error.info %}
									La fila {{ info }} esta vacia
								{% endfor %}
						{% endif %}
						<form action="{{ base_url() }}dashboard/admin/supplier/upload_test" method="post" accept-charset="utf-8" enctype="multipart/form-data">							
							<div class="col-md-offset-1 col-lg-10">
								<br>
								<label>
									<br>
									Archivo Excel
									<br>
								</label>
								<input id="fileExcel" type="file" name="excel" class="form-control margin-bottom--10">	
							</div>
							<div class="col-md-offset-1 col-lg-10">								
								<br><br>
								<label>Carpeta de Imagenes</label>
								<input id="dirImage" type="file" name="zip" class="form-control">
								<p class="small col-lg-12 text-muted margin-bottom-10">Las imagenes no deben estar en niguna subcarpeta.</p>
								<br><br>
							</div>							
							<div class="col-lg-12 text-center">								
								<br><br>
								<button class="col-lg-3 col-md-offset-2 text-center btn btn-success">Subir</button>
								<p>
									<a href="{{ base_url() }}dashboard/admin/supplier" class="btn btn-danger col-lg-3 col-md-offset-2 text-center">
										<i class="fa fa-times-circle  margin-right--5"></i>Cancelar
									</a>
								</p>
								<br><br>
								<br><br>
							</div>							
						</form>
					</div>
				</div>				
			</div>
		</div>
	</div>
{% endblock %}