
	{% extends 'common/base-shop.html' %}
	{% block content %}
	<div style="padding-top:74px;"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6">
				<style type="text/css">
					.errn{
						font-family: AkkuratPro_regular;
						color:red;
						font-size:12px;
					}
				</style>
				{{ form_open('auth/login/validate', 'class=""')|raw }}
					<div class="form-group">
						<label>Username</label>
						<input type="email" name="username" value="{{ user }}" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" name="password" value="{{ pass }}" class="form-control" required>
					</div>
					<div class="form-group errn">
						{{ error|raw }}
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default">Inicia sesión</button>
					</div>
 				{{ form_close()|raw }}

			</div>
		</div>
	</div>
	{% endblock %}