
<style>
	.color-w{
		color:white;
	}
	.effect:hover span{ 
		opacity:0.5;
	}
	.sidenav a {
		font-family: AkkuratPro_regular;
		position: relative;
	}
	.small-l{
		font-size:14px!important;
		color:#000000!important;
		font-weight:bold!important;
	}
	.small-s{
		font-size:13px!important;
		font-weight:bold;
		color:#000000!important;
		padding-left:40px!important;
	}
	.small-s:hover{
		background-color:#4E4F51;
		color:#ffffff;
	}
	.small-s:hover span{
		color:#ffffff!important;
		opacity:1;
	}
	.big-l{
		font-size:16px!important;
		color:#000000!important;
		font-weight:bold!important;
		border-top: 1px solid #c7c1c1;
	}
	.big-submenu{
		font-size:16px!important;
		color:#ffffff!important;
		font-weight:bold!important;
		padding: 0 8px 0 32px;
	}
	.arrow-menu{
		position: absolute;
		right: 10px;
		width: 14px;
		margin-top: 3px;
	}
	.romb-menu{
		width: 9px;
    	margin-top: -4px;
    	margin-right:5px;
	}
	.tags{
		position: relative;
		display:inline-block;
		margin-right: 8px;
    	margin-bottom: 7px;
    	font-weight:bold;
	}
	.tags>.close-tag{
		position: absolute;
		top: -10px;
    	right: -8px;
    	font-size: 15px;
    	cursor:pointer;
	}
	.container-tags{
		padding:8px 8px 8px 32px;
	}
	.tag{
		font-family: AkkuratPro_regular;
		background: -webkit-linear-gradient(#09B5A5, #B9E9E5);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color:#008e82;
	}
	.filters{
		position:relative;
		height:100px;
		z-index:3;
	}
	.see-more{
    	color: #05aa9a;
    	font-family: AkkuratPro_regular;
	}
	.button-search{
		opacity:0;
		transition: all 1s ease;
		width:80%;
	}
	.button-search:hover{
		opacity:1;
		border:1px solid #d8d8d8;
	}
	.submenu{
		background-color: #4E4F51;
	    height: 130px;
	    width: 250px;
	    position: absolute;
	    top: 0;
	    left: 100%;
	    margin-right: -1px;
	    z-index: 4;
	    padding:14px 0 8px 0;
	}
	.submenu a{
		text-decoration: none;
		border: 0;
	}
	.submenu>a{
		display:none;
	}
	.contain-filt{
		height:1px;
		border:none;
		position: relative
	}
.label-success{
	background-color:#4e4f51;
}
.sidenav {
    height: 100%!important;
    overflow: initial;
    border-right: 1px solid #c7c1c1;
}
.sidenav-hide{
	opacity:0;
	width:0;
}
.sidenav-appear{
	opacity:1;
	width:250px;
}
.sidenav-appear-mov{
	opacity:1;
	width:100%;
}
.hidden-tmp{
	display:none;
}
.hidden-tmp-none{
	display:block;
}
.submenu.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: white!important;
}
ps-container.ps-active-x>.ps-scrollbar-x-rail, .ps-container.ps-active-y>.ps-scrollbar-y-rail {
    /* background of the nav scroll */
}

	progress::-moz-progress-bar { background-color:#5cb85c!important;width:100%;color:red!important; }
	progress::-webkit-progress-bar { background-color:#ffffff!important;}
	progress::-webkit-progress-value { background-color:#0CB4A5!important;width:100%;color:red!important; }
	progress { background-color:#5cb85c!important;width:100%;color:blue!important;height: 10px; }
</style>
<div id="boxMenu" class="sidenav sidenav-hide">
<div>
</div>
	<div class="container-tags">
	</div>
	<a href="" class="small-l"><p>Fashion Trends 2017</p></a>
	<a href="" class="small-l"><p>Tecnología Hip</p></a>
	<a href="" class="small-l"><p>Decor</p></a>
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<a href="#" class="big-l">GRUPOS 
		<img src="{{ base_url() }}public/assets/img/dropdown.png" class="arrow-menu" alt="">
		<div class="filters var1" data-type="groups">
			<a href="" class="small-s effect">
				<img src="{{ base_url() }}public/assets/img/diamant.png" class="romb-menu" alt="">
				<span>Fashion Trends 2017</span>
				</a>
			<a href="" class="small-s effect">
				<img src="{{ base_url() }}public/assets/img/diamant.png" class="romb-menu" alt="">
				<span>Tecnología Hip</span>
				
				</a>
			<a href="" class="small-s effect">
				<img src="{{ base_url() }}public/assets/img/diamant.png" class="romb-menu" alt="">
				<span>Decor</span>
				</a>
			<a href="" class="small-s effect">
				<img src="{{ base_url() }}public/assets/img/diamant.png" class="romb-menu" alt="">
				<span>Camping</span>
				</a>
			<a href="" class="small-s effect">
				<img src="{{ base_url() }}public/assets/img/diamant.png" class="romb-menu" alt="">
				<span>Branding</span>
				</a>
			<a href="" class="small-s effect">
				<img src="{{ base_url() }}public/assets/img/diamant.png" class="romb-menu" alt="">
				<span>Playa</span>
				</a>
		</div>			

	</a>
	<a href="#" class="big-l" data-special="category">CATEGORÍAS
		<img src="{{ base_url() }}public/assets/img/dropdown.png" class="arrow-menu" alt="">
		<div class="contain-filt">
			<div class="submenu">
			{% for key,data in  subcategories %}
				<div class="itm hidden-tmp sub-m-{{ key }}"  data-type="categorys">
					<p class="big-submenu text-uppercase name-sub">PROMOCIONALES</p>
					{% for list in data %}
						<a href="" class="small-s effect">
							<img src="{{ base_url() }}public/assets/img/diamant-w.png" class="romb-menu" alt="">
							<span class="color-w"">{{ list }}</span>
						</a>
					{% endfor %}	
				</div>

			{% endfor %}
			</div>			
		</div>
		
		<div class="filters var1" data-type="categorys">
		
			{% for category in categorys %}
				<a href="" class="small-s effect subcategory" data-name="{{ category.name }}" data-id="{{ category.idCategory}}">
					<img src="{{ base_url() }}public/assets/img/diamant.png" class="romb-menu" alt="">
					<span>{{ category.name }}</span>
				</a>
			{% endfor %}
		</div>
	</a>
	<a href="#" class="big-l">
		<span class="glyphicon glyphicon-search"></span>
		<input type="text"  class="button-search" name="">
	</a>
	<a href="#" class="big-l">CALIDAD
		<img src="{{ base_url() }}public/assets/img/dropdown.png" class="arrow-menu" alt="">
		<div class="filters var1" data-type="quality">
			{% for quality in qualities %}
				<a href="" class="small-s effect">
					<img src="{{ base_url() }}public/assets/img/diamant.png" class="romb-menu" alt="">
					<span>{{ quality.name }}</span>
				</a>
			{% endfor %}
		</div>	
	</a>
	<a href="" class="big-l">ORIGEN
		<img src="{{ base_url() }}public/assets/img/dropdown.png" class="arrow-menu" alt="">
		<div class="filters var1" data-type="country">
			{% for country in countries %}
				<a href="" class="small-s effect">
					<img src="{{ base_url() }}public/assets/img/diamant.png" class="romb-menu" alt="">
					<span>{{ country.country }}</span>
				</a>
			{% endfor %}
		</div>	
	</a>
	<a href="" class="big-l">COSTO
		<img src="{{ base_url() }}public/assets/img/dropdown.png" class="arrow-menu" alt="">
	</a>
</div>
<script type="text/javascript">

</script>