<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" type="image/x-icon" href="{{ base_url() }}public/assets/img/favicon.ico" />	
	<link rel="stylesheet" href="{{ base_url() }}public/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ base_url() }}public/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ base_url() }}public/assets/css/app.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/5.2.1/sweetalert2.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">	
	{% block head %}
		<link rel="stylesheet" href="{{ base_url() }}public/assets/css/simple-sidebar.css">
		<style>
			body {
				background-color: #ecf0f5
			}
		</style>
	{% endblock %}
</head>
<body>
	<div id="wrapper">
	{% block sidebar %}
		<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                       <img src="{{ base_url() }}public/assets/img/logo-tt-white-2.svg" class="img-responsive">

                </li>
				<li class="sidebar-username">
					Santiago
				</li>
                <li>
                    <a href="{{ base_url() }}dashboard/admin/home">
	                    Dashboard
	                </a>
                </li>
                <li>
                    <a href="{{ base_url() }}dashboard/admin/supplier">
                        Supplier Team
                    </a>
                </li>
                <li>
                    <a href="{{ base_url() }}dashboard/admin/catalog">
	                    Catálogo
	                </a>
                </li>
                <li>
                    <a href="{{ base_url() }}dashboard/admin/catalog">
                        Mensajes
                    </a>
                </li>
                <li>
                    <a href="{{ base_url() }}dashboard/admin/catalog">
                        Mi cuenta
                    </a>
                </li>
            </ul>
        </div>
	{% endblock %}
	<div id="bodyWrapper">	
		{% block navbar %}
			<nav class="navbar navbar-dashboard navbar-static-top">
				<div class="container-fluid">
					<ul class="nav navbar-nav navbar-left">
						<li>
							<a href="#" id="menu-toggle">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
			</nav>
		{% endblock %}		
		{% block body %}{% endblock %}
	</div>
	</div>
	<script type="text/javascript" src="{{ base_url() }}public/assets/js/jquery.min.js"></script>
	<script src="{{ base_url() }}public/assets/js/pace.min.js"></script>	
	<script type="text/javascript">

		$(document).ready(function(){

		   var retraso=2000, setTimeoutConst;

		   $('#menu-toggle').hover(function(){
		   	
				setTimeoutConst = setTimeout(function(){

				$("#wrapper").toggleClass("toggled");

				}, retraso);

		   },function(){

				clearTimeout(setTimeoutConst );
		   })
		   $("#menu-toggle").click(function(e) {
	       		e.preventDefault();
	        	$("#wrapper").toggleClass("toggled");
	    	});
		})

	</script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/5.2.1/sweetalert2.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	
	<script type="text/javascript" src="{{ base_url() }}public/assets/js/bootstrap.min.js"></script>	
	{% block script %}{% endblock %}
</body>
</html>