{% extends 'common/base-shop.html' %}
{% block content %}

   <div id="boxContent">

      <!-- Content -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 productCert">
                  <center>
                    <img class="iconSteps" src="{{ base_url() }}public/assets/img/step1.png" alt="step1">
                    <img class="iconSteps" src="{{ base_url() }}public/assets/img/step2.png" alt="step2">
                    <img id="iconStepTT" src="{{ base_url() }}public/assets/img/stepTT.png" alt="stepTT">
                    <img class="iconSteps" src="{{ base_url() }}public/assets/img/step3.png" alt="step3">
                    <img class="iconSteps" src="{{ base_url() }}public/assets/img/step4.png" alt="step4">
                  </center>
                </div>
            </div> 
            <br><br>

            <div class="row titulosContenedor">
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <h6>PRODUCTO</h6>
              </div>
              <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                <h6>CANTIDAD</h6>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <h6>COSTO UNITARIO</h6>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <h6>TOTAL</h6>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <h6>INFO.INDIVIDUAL</h6>
              </div>
            </div>


            <!-- primera fila -->
            <div class="row filaContenedor" style="margin: 15px 0px;">
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="row anchoRow">
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 borderGrey">
                    <img src="http://yankuserver.com/tamev2/public/assets/img/comparaPic1.jpg" alt="comparaPic1">
                  </div>
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 infoProducto">
                    <p>Impresión | Tecnología</p>
                    <h5>XYZ Printing da Vinci Mini 3D Printer</h5>
                    <p>
                      COSTO: $ 218.24 EUR <br>
                      CANTIDAD MINIMA DE PIEZAS: 50
                    </p>
                    <p>Holanda Inventario</p>
                    <button class="btnProductNR btnPersonalizar">PERSONALIZAR</button>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 cantidadContenedor">
                <center>  
                  <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <input type="text" class="numbertype" value="50">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 anchoCoLeft">
                      <span class="plus glyphicon glyphicon-menu-up"></span><br>
                      <span class="minus glyphicon glyphicon-menu-down"></span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                  </div>
                  <p>mínimo</p>
                  <p class="pMinimo">
                    El costo del producto ya no es valido con este número de piezas. <br>
                    Se tiene que analizar la posibilidad de hacer este pedido
                  </p>
                </center>
              </div>

              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <center>
                  <h6>$ 218.24 MXN</h6>
                </center>
              </div>

              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 total">
                <p>
                  Subtotal: $10,912.00 MXN <br>
                  IVA: $1,745.00 MXN <br>
                  <span class="cantTotal">$12,657.92 MXN</span>
                </p>
              </div>

              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                  <ul class="listII">
                    <li><img class="iconFavoritos iconFavII" src="{{ base_url() }}public/assets/img/iconFavoritasB.png" alt="iconFavoritasB">Muestra</li>
                    <li><img class="iconFavoritos iconFavII dateColumInfo" src="{{ base_url() }}public/assets/img/iconFavoritasB.png" alt="iconFavoritasB">
                        <span class="dateReplace">Fecha de entrega</span></li>
                    <li><img class="iconFavoritos iconFavII entregaColumnInfo" src="{{ base_url() }}public/assets/img/iconFavoritasB.png" alt="iconFavoritasB">Lugar de entrega</li>
                    <li><img class="iconFavoritos iconFavII comentarioContenedor" src="{{ base_url() }}public/assets/img/iconFavoritasB.png" alt="iconFavoritasB">Comentarios</li>
                  </ul>
                  <button class="btnContenEliminar">ELIMINAR</button>
              </div>
            </div>
            <!-- fin primera fila -->

            <!-- primera fila -->
            <div class="row filaContenedor" style="margin: 15px 0px;">
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="row anchoRow">
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 borderGrey">
                    <img src="http://yankuserver.com/tamev2/public/assets/img/comparaPic1.jpg" alt="comparaPic1">
                  </div>
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 infoProducto">
                    <p>Impresión | Tecnología</p>
                    <h5>XYZ Printing da Vinci Mini 3D Printer</h5>
                    <p>
                      COSTO: $ 218.24 EUR <br>
                      CANTIDAD MINIMA DE PIEZAS: 50
                    </p>
                    <p>Holanda Inventario</p>
                    <button class="btnProductNR btnPersonalizar">PERSONALIZAR</button>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 cantidadContenedor">
                <center>  
                  <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <input type="text" class="numbertype" value="50">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 anchoCoLeft">
                      <span class="plus glyphicon glyphicon-menu-up"></span><br>
                      <span class="minus glyphicon glyphicon-menu-down"></span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                  </div>
                  <p>mínimo</p>
                  <p class="pMinimo">
                    El costo del producto ya no es valido con este número de piezas. <br>
                    Se tiene que analizar la posibilidad de hacer este pedido
                  </p>
                </center>
              </div>

              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <center>
                  <h6>$ 218.24 MXN</h6>
                </center>
              </div>

              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 total">
                <p>
                  Subtotal: $10,912.00 MXN <br>
                  IVA: $1,745.00 MXN <br>
                  <span class="cantTotal">$12,657.92 MXN</span>
                </p>
              </div>

              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                  <ul class="listII">
                    <li><img class="iconFavoritos iconFavII" src="{{ base_url() }}public/assets/img/iconFavoritasB.png" alt="iconFavoritasB">Muestra</li>
                    <li><img class="iconFavoritos iconFavII dateColumInfo" src="{{ base_url() }}public/assets/img/iconFavoritasB.png" alt="iconFavoritasB">
                        <span class="dateReplace">Fecha de entrega</span></li>
                    <li><img class="iconFavoritos iconFavII entregaColumnInfo" src="{{ base_url() }}public/assets/img/iconFavoritasB.png" alt="iconFavoritasB">Lugar de entrega</li>
                    <li><img class="iconFavoritos iconFavII comentarioContenedor" src="{{ base_url() }}public/assets/img/iconFavoritasB.png" alt="iconFavoritasB">Comentarios</li>
                  </ul>
                  <button class="btnContenEliminar">ELIMINAR</button>
              </div>
            </div>
            <!-- fin primera fila -->

            <!-- primera fila -->
            <div class="row filaContenedor" style="margin: 15px 0px;">
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="row anchoRow">
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 borderGrey">
                    <img src="http://yankuserver.com/tamev2/public/assets/img/comparaPic1.jpg" alt="comparaPic1">
                  </div>
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 infoProducto">
                    <p>Impresión | Tecnología</p>
                    <h5>XYZ Printing da Vinci Mini 3D Printer</h5>
                    <p>
                      COSTO: $ 218.24 EUR <br>
                      CANTIDAD MINIMA DE PIEZAS: 50
                    </p>
                    <p>Holanda Inventario</p>
                    <button class="btnProductNR btnPersonalizar">PERSONALIZAR</button>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 cantidadContenedor">
                <center>  
                  <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <input type="text" class="numbertype" value="50">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 anchoCoLeft">
                      <span class="plus glyphicon glyphicon-menu-up"></span><br>
                      <span class="minus glyphicon glyphicon-menu-down"></span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                  </div>
                  <p>mínimo</p>
                  <p class="pMinimo">
                    El costo del producto ya no es valido con este número de piezas. <br>
                    Se tiene que analizar la posibilidad de hacer este pedido
                  </p>
                </center>
              </div>

              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <center>
                  <h6>$ 218.24 MXN</h6>
                </center>
              </div>

              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 total">
                <p>
                  Subtotal: $10,912.00 MXN <br>
                  IVA: $1,745.00 MXN <br>
                  <span class="cantTotal">$12,657.92 MXN</span>
                </p>
              </div>

              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                  <ul class="listII">
                    <li><img class="iconFavoritos iconFavII" src="{{ base_url() }}public/assets/img/iconFavoritasB.png" alt="iconFavoritasB">Muestra</li>
                    <li><img class="iconFavoritos iconFavII dateColumInfo" src="{{ base_url() }}public/assets/img/iconFavoritasB.png" alt="iconFavoritasB">
                        <span class="dateReplace">Fecha de entrega</span></li>
                    <li><img class="iconFavoritos iconFavII entregaColumnInfo" src="{{ base_url() }}public/assets/img/iconFavoritasB.png" alt="iconFavoritasB">Lugar de entrega</li>
                    <li><img class="iconFavoritos iconFavII comentarioContenedor" src="{{ base_url() }}public/assets/img/iconFavoritasB.png" alt="iconFavoritasB">Comentarios</li>
                  </ul>
                  <button class="btnContenEliminar">ELIMINAR</button>
              </div>
            </div>
            <!-- fin primera fila -->
           
          </div>
        </div>
      </div>
      <!-- End contend --> 

    </div>
    <!-- End box content -->

    <div class="row anchoRow navBottomCh navbar-fixed-bottom">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <a href="#">¿QUÉ ES UN CONTENEDOR?</a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <a href="#">¿COMO SE CONFIRMA UN CONTENEDOR?</a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <a href="#">¿CÓMO SE PAGA UN CONTENEDOR?</a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 bg_green">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="#">MONTO TOTAL CONTENEDOR</a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p class="subNavB">
              Subtotal: $10,912.00 MXN <br>
              IVA: $1,745.00 MXN <br>
              <span class="pricesubNav">$12,657.92 MXN</span>
            </p>
          </div>
        </div>        
      </div>
    </div>

    <!-- nav right -->
    <div id="navRight" class="navR_p">
      <p>PDF <span id="saveNavR">Guardar</span></p>
      <p>
        CONTENEDOR: <span class="p_regular">Nombrar</span> <br>
        NUMERO DE PRODUCTOS: <span class="p_regular">0</span> <br>
        STATUS: <span class="p_regular">Solicitud</span>
      </p>
      <p>
        Todos tus productos en un mismo lugar y en una misma fecha de entrega
      </p>
      <button id="btnSendContent">ENVIAR CONTENEDOR</button>
      <p>Seguir seleccionando</p>

      <form action="" id="form_calendar">
        <div class="form-group">
          <center>
            <label>FECHA DE ENTREGA</label>
            <p>Fecha estimada en la cual se entregaria el pedido</p>
            <input type="text" value="00/00/00" id="in_calendar">
          </center>
        </div>
        <div class="form-group">
          <center>
            <label>LUGAR DE ENTREGA</label>
            <p>Todos tus productos en un mismo lugar</p>
            <select name="" id="">
              <option value="Estado">ESTADO</option>
              <option value="1">Valor 1</option>
              <option value="2">Valor 2</option>
              <option value="3">Valor 3</option>
            </select>
          </center>
        </div>
        <div class="form-group">
          <center>
            <select name="" id="">
              <option value="CiudadMunicipio">CIUDAD O MUNICIPIO</option>
              <option value="1">Valor 1</option>
              <option value="2">Valor 2</option>
              <option value="3">Valor 3</option>
            </select>
          </center>
        </div>
        <div class="form-group">
          <center>
            <label>DIRECCIÓN</label><br>
            <textarea name="" id="" rows="4"></textarea>
          </center>
        </div>
        <p>Tienes dudas del controlador</p>
      </form>
    </div>
    <!-- end nav right -->

    <style>
      footer{
        display: none;
      }
    </style>

{% endblock %}