
	<div class="row">
	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 selectColor">
	    <p>SELECCIÓN DE COLORES</p>
	    <p>Elige los colores en los que quieres que <br>venga tu producto</p>
	    <div id="contentColors">
	      <div class="circle_color" style="background-color: black"></div>
	      <div class="circle_color" style="background-color: red"></div>
	      <div class="circle_color" style="background-color: yellow"></div>
	      <div class="circle_color" style="background-color: green"></div>
	      <div class="circle_color" style="background-color: blue"></div>
	      <div class="circle_color" style="background-color: purple"></div>
	      <div class="circle_color" style="background-color: pink"></div>
	      <div class="circle_color" style="background-color: orange"></div>
	    </div>
	    <p>SOLICITUD DE COLORES</p>

	    <!-- Color Picker -->
	    <div id="inline-demo"></div>
	    <!-- End Color Picker -->
	    
	    <hr>
	    <p style="display: inline-block;">COMENTARIOS</p><img class="upFile" src="{{ base_url() }}public/assets/img/up_file.png" alt="up_file">
	  </div>
	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 impresion">
	    <p>IMPRESIÓN</p>
	    <p>Producto con logo impreso</p>
	    <div class="form-group">
	      <label for="">Tipo de impresión</label>
	      <select>
	        <option value="">SELECCIONAR</option>
	        <option value="">Opción 1</option>
	        <option value="">Opción 2</option>
	      </select>
	    </div>
	    <div class="form-group">
	      <label for="">Numero de tintas</label>
	      <select>
	        <option value="">SELECCIONAR</option>
	        <option value="">Opción 1</option>
	        <option value="">Opción 2</option>
	      </select>
	    </div>
	    <hr>
	    <p style="display: inline-block;">COMENTARIOS</p><img class="upFile" src="{{ base_url() }}public/assets/img/up_file.png" alt="up_file">
	  </div>
	</div>

	<script src="{{ base_url() }}public/assets/js/appPersonalizar.js"></script>
