
	<div class="row">
	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 selectColor impresion">
	    <p>PRESENTACIÓN</p>
	    <p>Como vas a presentar tu producto</p>
	    <div class="form-group">
	      <label for="">Tipo de impresión</label>
	      <select>
	        <option value="">SELECCIONAR</option>
	        <option value="">Opción 1</option>
	        <option value="">Opción 2</option>
	      </select>
	    </div>
	    <hr>
	    <p style="display: inline-block;">COMENTARIOS</p><img class="upFile" src="{{ base_url() }}public/assets/img/up_file.png" alt="up_file">
	  </div>
	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 impresion">
	    <p>CAJA MAESTRA</p>
	    <p>Elige un empaque que se acomode a tu logística y control de inventarios</p>
	    <div class="form-group">
	    	<label for="">Numero de piezas</label>
	    	<input type="text" placeholder="213">
	    </div>
	    <div class="form-group">
	      <label for="">Mezcla de productos</label>
	      <select>
	        <option value="">SELECCIONAR</option>
	        <option value="">Opción 1</option>
	        <option value="">Opción 2</option>
	      </select>
	    </div>
	    <hr>
	    <p style="display: inline-block;">COMENTARIOS</p><img class="upFile" src="{{ base_url() }}public/assets/img/up_file.png" alt="up_file">
	  </div>
	</div>

	<script src="{{ base_url() }}public/assets/js/appPersonalizar.js"></script>