
	<div class="row">
	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 selectColor impresion">
	    <p>OTROS</p>
	    <p>En el caso de que quieras otro tipo de personalización</p>
	    <hr>
	    <p style="display: inline-block;">COMENTARIOS</p><img class="upFile" src="{{ base_url() }}public/assets/img/up_file.png" alt="up_file">
	  </div>
	</div>

	<script src="{{ base_url() }}public/assets/js/appPersonalizar.js"></script>