/*
 *
 * Supplier Catalogo
 *
 *
 */
.panel-product {
	height: 250px;
}

.title-office-yellow {
	display: block;
	width: auto;
	padding: 15px 10px;
	padding-left: 50px;
	background-color: yellow;
}
.panel-main{
	position: relative;
	height: 200px
}
.panel-main-shadow{
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	background: rgba(0, 0, 0, 0.2)
}
.decoration-none{
	text-decoration:none!important;
}
.decoration-none p{
	text-decoration:none!important;
}
.decoration-none:hover .panel-main-shadow{
	animation-name: changeColor;
	animation-duration: 1s;
	animation-fill-mode: both;
}
@keyframes changeColor{
	from{
		background: rgba(0, 0, 0, 0.2);
	}
	to{
		background: rgba(0, 0, 0, 0.5);
	}
}

/* Color Pallete
 *
 * Blue: #3c8dbc;
 *
 */

#wrapper {
	background: url("../img/office_1.png") no-repeat center;
	background-size: cover;
}

#bodyWrapper {
	overflow-y: auto;
}


/* -----------------------------------
	Helpers
----------------------------------- */

/* Colors */
.color-white { color: #fff }

/* Backgrounds */
.bg-dark { background-color: #000 }
.bg-light { background-color: #fff }

/* Font */
.title-dashboard,
.font-weight--300 { font-weight: 300 }

/* Margins */
.title-dashboard,
.margin-clear { margin: 0 }
.margin-bottom--10 { margin-bottom: 10px }
.title-dashboard,
.margin-bottom--20 { margin-bottom: 20px }
.margin-bottom--30 { margin-bottom: 30px }
.margin-bottom--50 { margin-bottom: 50px }
.margin-left--10 { margin-left: 10px }
.margin-right--5 { margin-right: 5px }
.margin-right--10 { margin-right: 10px }
.margin-top--20 { margin-top: 20px }
.margin-top--30 { margin-top: 30px }
.margin-top--50 { margin-top: 50px }

/* Positions */
.position-center { margin: 0 auto; }


/* -----------------------------------
	Bootstrap theme
----------------------------------- */
.nav-tabs {
    border-bottom: 1px solid #e6e3e3;
}
.nav-tabs.modal-add > li {
    float:none;
    display:inline-block;
    zoom:1;
	border:none;
	border-bottom:0;
}
.nav-tabs.modal-add > li a:hover {
	border-bottom:3px solid #93e093;
}
.nav-tabs.modal-add li.active a{
	border:none;
	border-bottom:3px solid #449d44;
}
.navbar-dashboard {
	background-color: transparent;
    margin: 0;
}
.navbar-dashboard .nav > li > a {
	color: #fff;
    background: gray;
}
.navbar-dashboard .nav > li > #menu-toggle:hover {
	color: gray;
	background-color: #fff;
}
.navbar-dashboard .nav > li > a:hover {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0.5);
}
.img-center {
	margin: 0 auto;
}
.head-edit{
    background: #dedede;
	color:#000000;
	font-weight:bold;
	font-size:24px!important;
}
.del-img{
	width:150px;
}
.btn-blue{
	width:100%;
	background:gray;
	border:none;
	color:#ffffff;
	border-radius:0px;
	margin-bottom:10px;
}
.btn-sustitute{
	width:150px;
	background:#337ab7;
	border:none;
	border-radius:0px;
	margin-bottom:10px;
	color:#ffffff;
}
.btn-sustitute:hover{
	color:#ffffff;
}
.btn-blue:hover{
	color:#ffffff;
}
.save-img{
	width:100%;
	border-radius:0px;	
}
progress::-moz-progress-bar { background-color:#5cb85c!important;width:100%;color:#000000!important; }
progress::-webkit-progress-bar { background-color:#ffffff!important;box-shadow: 1px 1px 4px rgba(0,0,0,.5);}
progress::-webkit-progress-value { background-color:#5cb85c!important;width:100%;color:red!important; }
progress { background-color:#5cb85c!important;width:100%;color:blue!important }

/*progress::-moz-progress-bar { 
	background: blue; 
    border: none;
    width: 100%;
    height: 20px;
    background-color:#ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    color: #5cb85c;
    position: relative;
    margin: 0 0 1.5em;	
}
progress::-webkit-progress-value { 
	background: blue; 
    border: none;
    width: 100%;
    height: 20px;
    background-color:#ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    color: #5cb85c;
    position: relative;
    margin: 0 0 1.5em;
}*/
/*#sortable{
	padding:0;
}
#sortable li{
	background:gray;
}*/
/*#sortable { list-style-type: none; }
sortable li:active { padding:5%; border:1px solid gray;}
#sortable li:not(:active) { padding:5%; border:1px solid red;}*/
#sortable { list-style-type: none; }

.swal2-modal h2 {
	line-height:40px!important;
}
input[disabled].cat-name{
	background:none;
	border:none;
}
input[disabled].cat-slug{
	background:none;
	border:none;
}
input.subcat-name,input.subcat-slug,select.subcat-main{
	width:120px;
}
input[disabled].subcat-name{
	background:none;
	border:none;
}
input[disabled].subcat-slug{
	background:none;
	border:none;
}
select[disabled].subcat-main{
	background:none;
	border:none;
}
.fileUpload {
	position: relative;
	overflow: hidden;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
/* -----------------------------------
	Vendors
----------------------------------- */

/*
	Thumbnail Gallery
 	@link http://bootsnipp.com/snippets/QAK1X
 */
.bs-plugin .hide-bullets {
	list-style:none;
	margin-left: -40px;
	margin-top:20px;
}

.bs-plugin .thumbnail {
	padding: 0;
}

.bs-plugin .carousel-inner>.item>img,
.bs-plugin .carousel-inner>.item>a>img {
	width: 100%;
}

ul.nav.navbar-nav.navbar-left {
    position: fixed;
}
#containerPrint{
	display: none;
}

@media print {

	#wrapper {
		padding-left: 0px !important;
		width: 100% !important;
	}
	#sidebar-wrapper {
		width: 0px !important;
		display: none;
	}
	.containerNoPrint{
		display: none;
	}
	#containerPrint{
		display: block;
		margin: 0;
		width: 100% !important;
		padding: 0px;
	}
	#imagebesPrint {
		overflow: hidden;
		width: 100% !important;
	}
	#imagenesPrint div {
		float: left;
	}
	#imagenesPrint div img {
		width: 150px !important;
	}
	#descripcionPrint{
		float: left;
		width: 100% !important;
		font-size: 9px;
	}
		
}



