*{
  margin: 0;
  padding: 0;
}

.anchoRow{
  margin-right: 0px;
  margin-left: 0px;
}

.anchoCol{
  padding-right: 0px;
  padding-left: 0px;
}

.anchoCoLeft{ 
  padding-left: 0px;
}

.anchoColRight{
  padding-right: 0px;
}

.anchoContainer{
  padding-right: 0px;
  padding-left: 0px;
}

/*******************/
/****** Fonts ******/
/*******************/

@font-face {
  font-family: AkkuratPro_light;
  src: url(../fontsTienda/AkkuratPro-Light.otf);
}

@font-face {
  font-family: AkkuratPro_regular;
  src: url(../fontsTienda/AkkuratPro-Regular.otf);
}

@font-face {
  font-family: AkkuratPro_bold;
  src: url(../fontsTienda/AkkuratPro-Bold.otf);
}

/*******************/
/****** Navbar *****/
/*******************/
.navbar{
  border-radius: 0px;
  font-family: AkkuratPro_regular;
}

.navbar-default{
  background-color: #4e4f51;
  border-color: transparent !important;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-collapse{
  border-color: rgba(5, 170, 154, 0.3) !important;
}

.navbar-form{
  box-shadow: inset 0 0px 0 rgba(255,255,255,.1), 0 0px 0 rgba(255,255,255,.1);
}

#logoNav{
  width: 150px;
  margin-top: 5px;
}

#logoLogin{
  margin-top: -6px;
  width: 39px;
  padding-left: 10px;
}

.aligNav{
  display: inline-block;
  float: none;
}

.alignCenter > a{
  padding: 15px 44px !important;
}

.alignLogin{
  padding: 15px 3px !important;
}

#separatorLogin{
  color: white !important;
}

.input-group-addon{
  background-color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  transition: .3s;
  color: #05aa9a;
}

.navbar-toggle{
  padding: 0px !important;
}

/*input search left*/
.input-group-addon{
  padding: 3px 12px;
}

/*input search right*/
.navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn{
  height: 25px;
}

.tsearch{
  margin-top: 5px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color: #4e4f51;
}

.navbar-default .navbar-toggle{
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: transparent;
}

.close{
  opacity: 1;
}

.close, .close:hover{
  color: transparent;
}

/*icon sandwich*/
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: #05aa9a;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#form_registrar > .form-group > input{
  border-radius: 25px;
  border: 0px;
  color: black;
  padding: 5px 10px;
  width: 100% !important;
}

#form_registrar > .form-group > input:focus{
  outline: none;
}

#form_registrar > div > label:nth-child(2){
  float: right;
}

#form_registrar > div > label:nth-child(2) > a{
  color: white;
  transition: .3s;
}

#form_registrar > div > label:nth-child(2) > a:hover{
  color: #05AA97;
  text-decoration: none;
}

#btn_registrar {
  background-color: transparent;
  border-radius: 50px;
  border: 0px;
  border: 2px solid white;
  color: white;
  margin-top: 10%;
  padding: 5px 10px;
  transition: .3s;
  width: 200px;
}

#btn_registrar:hover{
  background-color: #05aa9a;
  border: 2px solid transparent;
  color: white;
}

.modal-header{
  border-bottom: 0px solid #e5e5e5;
}

.modal-content{
  background-color: #4e4f51;
  color: white;
  font-family: AkkuratPro_regular !important;
}

textarea{
  border-radius: 25px;
  color: black;
  padding: 5px 10px;
  width: 100% !important;
}

textarea:focus{
  outline: none;
}

#modal_lista > button:nth-child(2){
  float: right;
}

#modal_personalizar > .modal-dialog{
  float: left;
  margin: 75px 2%;
  width: 70%;
}

.borderGrey{
  border: 1px solid rgb(199, 193, 193);
}

.borderGrey > img {
  width: 100%;
  padding: 5px;
}

#modal_pedido > .modal-dialog > .modal-content{
  background-color: #ffffff;
  color: black;
  border-radius: 0;
}

#modal_pedido > .modal-dialog > .modal-content > .modal-header > h4{
  float: left;
  font-family: AkkuratPro_bold;
}

#modal_pedido > .modal-dialog > .modal-content > .modal-header > p{
  font-family: AkkuratPro_regular;
  font-size: 15px;
  text-align: center;
}

#modal_pedido > .modal-dialog > .modal-content > .modal-header > button > span{
  color: #05aa9a;
}

#modal_pedido > .modal-dialog > .modal-content > .modal-footer > center > a > button{
  background-color: #05aa9a;
  border-radius: 50px;
  border: 1px solid transparent;
  color: white;
  font-family: AkkuratPro_bold;
  margin-bottom: 15px;
  padding: 3px 0px;
  width: 50%;
  transition: .3s;
}

#modal_pedido > .modal-dialog > .modal-content > .modal-footer > center > a > button:hover{
  background-color: white;
  border: 1px solid black;
  color: black;
}

#modal_pedido > .modal-dialog > .modal-content > .modal-footer > center > a{
  text-decoration: none;
  color: #05aa9a;
}

.infoContenedor > p:nth-child(1){
  font-family: AkkuratPro_bold;
}

.infoContenedor > p:nth-child(2){
  color: #05aa9a;
  font-family: AkkuratPro_bold;
}

.infoContenedor > p:nth-child(4){
  color: #05aa9a;
}

.scrollbar
{
  height: 300px;
  overflow-y: scroll;
  width: 100%;
}

#style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

#navPersonalizar{
  margin-top: 2em;
  margin-bottom: 3em;
}

#navPersonalizar > a{
  color: white;
  font-family: AkkuratPro_regular;
  padding: 0px 5%;
  transition: .3s;
}

#navPersonalizar > a:hover, #navPersonalizar > a:focus{
  color: #05aa9a;
  text-decoration: none;
}

.selectColor > p, .impresion > p{
  font-family: AkkuratPro_regular;
  padding: 5px 0px;
}

.impresion > .form-group > input{
  color: black;
  float: right;
  font-family: AkkuratPro_regular;
  padding: 0px 5px;
  width: 60%;
}

#contentColors{
  margin-bottom: 20px;
}

.icontrue{
  font-size: 10px;
  padding: 6px;
}

.comentUpFile{
  float: none !important;
  margin-top: 10%;
}

.upFile{
  float: right;
  width: 25px;
  transition: .3s;
}

.upFile:hover{
  cursor: pointer;
}

.impresion > .form-group {
  margin: 30px 0px;
}

.impresion > .form-group > select{
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: transparent !important;
  border-color: white;
  float: right;
  height: 35px;
  width: 60%;
  background: url(../img/arrow16x16.png) no-repeat;
  background-position: right 10px center;
  padding: 0px 10px;
}

#modal_comentarios > .modal-dialog {
  float: left;
  left: 10%;
  margin: 75px 2%;
  top: 5%;
  width: 50%;
}

#modal_comentarios > .modal-dialog > .modal-content{
  background-color: #d1d2d2;
}

.formComentarios > p{
  font-family: AkkuratPro_regular;
  font-size: 17px;
}

.formComentarios > textarea{
  border-color: transparent;
}

/*******************/
/******* Menu ******/
/*******************/

#btnSidenav{
  cursor: pointer;
  font-size: 30px;
  margin-left: -57px;
  margin-top: -8px;
  position: fixed;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 58px;
  border-right: 1px solid #4e4f51;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#boxContent {
  padding-bottom: 0px !important;
  padding: 80px;
  transition: margin-left .5s;
}

/*******************/
/****** Steps *****/
/*******************/

.iconSteps{
  margin: 20px 6%;
  width: 60px;
}

#iconStepTT{
  margin: 0px 3%;
  width: 60px;
}

.productCert > p{
  margin-top: 1em;
  font-family: AkkuratPro_bold;
  color: #05aa9a
}

/*******************/
/****** PAGES *****/
/*******************/

.inputPagina{
  display: inline-block;
  float: right;
  font-family: AkkuratPro_regular;
  margin-bottom: 15px;
  margin-top: 23px;
}

.inputPagina > label{
  padding-right: 10px;
  padding-left: 10px;
}

.inputPagina > input{
  text-align: center;
  width: 23px;
}

#navPagination{
  display: inline-block;
  float: right !important;
  font-family: AkkuratPro_regular;
}

#selectAgregados{
  background-color: white;
  float: left !important;
  font-family: AkkuratPro_regular;
  height: 33px;
  margin: 21px 0px;
  width: 200px;
}

.pagination>li>a, .pagination>li>span{
  border: 0px !important;
  color: black;
  padding: 6px !important;
}

/*******************/
/******* Home ******/
/*******************/

.pFont{
  font-family: AkkuratPro_regular;
}

.groupTitles > p:nth-child(2){
  font-family: AkkuratPro_bold;
  display: inline-block;
  margin-top: 1em;
}

.groupTitles > p:nth-child(3){
  color: #05aa9a;
  font-family: AkkuratPro_bold;
}

.groupTitles > p:nth-child(4){
  font-family: AkkuratPro_regular;
}

.groupTitles > p:nth-child(5){
  color: #05aa9a;
  font-family: AkkuratPro_regular;
}

.titleGroups{
  font-family: AkkuratPro_bold;
  display: inline-block;
}

#titleProducto{
  display: inline-block;
}

#titleProducto > p{
  font-family: AkkuratPro_regular;
  margin-top: 1em;
}

#titleProducto > button{
  background-color: white;
  border-radius: 50px;
  border: 2px solid grey;
  color: #4e4f51;
  font-family: AkkuratPro_bold;
  margin-top: 2em;
  padding: 4px 10px;
  transition: .3s;
  width: 230px;
}

#titleProducto > button:hover{
  background-color: #05aa9a;
  border: 2px solid transparent;
  color: white;
}

#titleProducto > button:focus{
  outline: none;
}

.moreTitleGroups{
  color: #05aa9a;
  float: right;
  font-family: AkkuratPro_bold;
}

.topCarrousel{
  margin-top: 50px;
}

.topVideo{
  margin-top: 40px;
}

.topVideo > center > img {
  width: 400px;
}

.topVideo > center > p {
  margin-top: 2em;
  font-family: AkkuratPro_regular;
}

/*.topVideo > .groupTitles > img{
  margin-bottom: 1em;
  font-family: AkkuratPro_regular;
}*/

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
	margin-left: -35px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
	margin-right: -35px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
  top: 40%;
}

.carousel-control.left, .carousel-control.right {
  background-image: none
}

.carousel-control{
  color: grey;
  transition: .3s;
  width: 0;
}

.carousel-control:focus, .carousel-control:hover{
  color: grey;
}

.imgCarrouselOne{
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.1);
}

.carousel-indicators{
  bottom: -50px;
  z-index: 0 !important;
}

.carousel-indicators .active{
  background-color: #05aa9a;
}

.carousel-indicators li{
  border: 0;
  background-color: grey;
}

#contenidoFotos{
  display: none;
}

.boxPictures{
  border: 1px solid rgb(199, 193, 193);
  height: 400px;
  margin: 50px 0px;
  width: 400px;
}

#contenidoFotos > center > p {
  font-family: AkkuratPro_regular;
  width: 440px;
}

.bg_pic{
  background-image: url(/tamev2/public/assets/img/slide3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.boxFavoritos{
  background-color: #4e4f51; 
  color: white; 
  display: none; 
  float: right; 
  font-family: AkkuratPro_regular;
  font-size: 15px;
  height: 117px;
  text-align: left; 
  width: 80%; 
}

.boxFavoritos > ul > li{
  list-style: none;
  font-family: AkkuratPro_regular !important;
}

.iconFavoritos{
  display: inline-block !important;
  filter: opacity(100%) blur(0px) !important;
  padding: 5px;
  width: 30px;
}

.iconFavoritos:hover{
  cursor: pointer;
}

.boxFavoritos > ul > li:nth-child(1){
  background-color: #f1f1f1;
  color: #05aa9a;
  font-size: 10px;
  padding: 2px 5px;
}

.boxFavoritos > ul > li:nth-child(6){
  font-size: 10px !important;
  padding-top: 4px;
}

.boxFavoritos > ul > hr{
  margin-top: 0;
  margin-bottom: 0;
}

/****************++++++++++***/
/******* Overlay images ******/
/******************++++++++++*/

.overlay > a{
  text-decoration: none !important;
}

.overlay > p:nth-child(1){
	font-family: AkkuratPro_bold;
	margin-top: 14%;
}

.overlay > p:nth-child(2){
	padding: 0px 20px;
}

.overlay > a:nth-child(3) p{
	font-family: AkkuratPro_bold;
  transition: .2s;
}

.overlay > a:nth-child(3) p:hover{
  color: #05aa9a;
}

.overlay-small > p{
  padding: 5px !important;
}

.overlay-small > p:nth-child(2), .overlay-small > p:nth-child(3){
  font-size: 14px !important;
}

.overlay-small > a:nth-child(1){
  margin-top: -15px !important;
}

.overlay-small > a{
  background-color: red !important;
}

.hovereffect:hover img{
  background-color: transparent !important;
}

.hovereffect:hover .icono-like{
  visibility: visible;
}

.icono-like, .icono-comparar{
  filter: opacity(100%) blur(0px) !important;
  display: inline-block !important;
}

.icono-comparar{
  margin-top: -10px;
  margin-right: 5px;
  width: 30px;
}

.icono-like{
  float: left;
  width: 40px;
  margin-top: -25px;
  margin-left: 10px;
  /*visibility: hidden;*/
}

.icono-like:hover{
  cursor: pointer;
}

.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.hovereffect .overlay {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: scroll;
}

.hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}

.hovereffect:hover img {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
	filter: opacity(30%) blur(3px);
	-webkit-filter: opacity(30%) blur(3px);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	background-color: rgba(255, 255, 255, 0.5);
	transform: scale(1.2);
}

.hovereffect p {
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 10px;
}

.hovereffect a.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}

.hovereffect a.info:hover {
	box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect p {
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	opacity: 0;
	filter: alpha(opacity=0);
	color: black;
}

.hovereffect:hover a.info, .hovereffect:hover p {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

/*******************/
/***** NavRight ****/
/*******************/

#navRight{
  float: right;
  padding: 15px 10px;
  position: absolute;
  right: 1%;
  top: 58px;
  width: 290px;
}

.icono-comparar-navRight > img , .icono-comparar-navRight > p{
  display: inline-block;
}

.pdf-navRight{
  font-family: AkkuratPro_bold;
  font-size: 14px;
  padding-top: 5px;
  transition: .3s;
}

.pdf-navRight:hover{
  color: #05aa9a;
  cursor: pointer;
}

.textProductNR > p:nth-child(1){
  color: #05aa9a;
  margin-top: 1em;
  font-family: AkkuratPro_regular;
}

.textProductNR > h5:nth-child(2){
  font-family: AkkuratPro_bold;
}

.textProductNR > p:nth-child(3){
  font-family: AkkuratPro_bold;
  font-size: 11px;
}

.textProductNR > p:nth-child(4){
  color: #05aa9a;
  font-family: AkkuratPro_regular;
}

.btnProductNR{
  background-color: white;
  border-radius: 50px;
  border: 1px solid grey;
  font-family: AkkuratPro_bold;
  padding: 1px 8px;
  transition: .2s;
}

.btnProductNR:hover{
  background-color: #05aa9a;
  border: 1px solid transparent;
  color: white;
}

#btnPedido{
  background-color: #05aa9a;
  border-radius: 50px;
  border: 1px solid transparent;
  color: white;
  font-family: AkkuratPro_bold;
  margin-top: 1em;
  padding: 1px 8px;
  transition: .2s;
  width: 100%;
}

#btnPedido:hover{
  background-color: white;
  border: 1px solid grey;
  color: black;
}

#diamantbtn{
  margin-top: -4px;
  padding: 0px 4px;
  width: 22px;
}

.titlesSlides{
  font-family: AkkuratPro_bold;
  font-size: 13px;
  margin-top: 2em;
}

.titlesSlides span{
  font-family: AkkuratPro_regular;
}

.panel_tc, .panel_eo{
  display: none;
  font-family: AkkuratPro_regular;
  font-size: 13px;
}

.slide_tc, .slide_eo{
  float: right;
  font-family: AkkuratPro_bold;
  font-size: 13px;
  transition: .3s;
}
.slide_tc:hover, .slide_eo:hover{
  color: #05aa9a;
  cursor: pointer;
}

#navRight hr{
  border-top: 1px solid #c7c1c1;
}

.circle_color{
	border-radius: 50px;
	height: 25px;
	width: 25px;
	display: inline-block;
  margin: 0px 2px;
}

.bgCircle{
  background-color: red;
  background-image: url(http://yankuserver.com/tamev2/public/assets/img/checkColors.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  height: 25px;
  width: 25px;
}

.bgCirclePicker{
  background-color: red;
  background-image: url(http://yankuserver.com/tamev2/public/assets/img/checkColors.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  height: 16px;
  width: 17px;
}

#accordion{
	margin-top: 1em;
}

.arrowUp{
	float: right;
}

.panel-title a{
	font-size: 12px;
	font-family: AkkuratPro_bold;
	transition: .3s;
}

.panel-title a:hover, .panel-title a:focus{
	color: #05aa9a;
	text-decoration: none;
}

.panel-default>.panel-heading{
	background-color: transparent;
}

.panel-default{
	border-color: transparent;
  border-color: white;
  box-shadow: none;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
	border-top: 0px;
}

.panel-heading{
	border-top: 1px solid #c7c1c1;
	padding: 10px 5px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important; 
}

.panel-body{
	padding: 15px 5px;
}

.panel-body > ul > li{
  font-family: AkkuratPro_regular;
  font-size: 13px;
  margin-left: 15px;
}

.faStars{
  font-size: 30px !important;
  padding: 0px 10px;
  transition: .3s;
}

.starsClass{
  display: inline-block;
}

.starsClass:hover{
  cursor: pointer;
}

.highlight, .selected {
  color: #05aa9a;
}

.faRedes{
  color: #4e4f51;
  font-size: 20px !important;
  padding: 0px 9px;
  transition: .2s;
}

.faRedes:hover{
  color: #05aa9a;
}

.SR_last{
  font-family: AkkuratPro_bold;
  text-align: center;
}

.SR_last > div > p {
  margin-top: 2em;
}

.SR_last > div > p > a{
  color: #05aa9a;
  font-family: AkkuratPro_bold;
  font-size: 13px;
}

.SR_last > div > p > a:hover{
  text-decoration: none;
}

/************************/
/****** colorPicker *****/
/************************/

.evo-pop{
  width: 100% !important;
}

.evo-palcenter{
  margin-bottom: 10px;
}

.ui-widget.ui-widget-content{
  border: 0 !important;
}

.ui-widget-content{
  background: none !important;
}

.evo-palette2 td {
    padding: 8px 9px !important;
}

/******************************/
/****** comparar Producto *****/
/******************************/

.boxColFirst{
  height: 270px;
}

.boxBorder{
  border: 1px solid rgb(199, 193, 193);
  padding: 20px;
}

.comparaPic{
  margin-top: 35px;
  width: 60%;
}

.circuloComparar{
  border-radius: 50%;
  border: 1px solid black;
  float: left;
  height: 15px;
  width: 15px;
}

.cerrarComparar{
  color: #05aa9a;
  float: right;
  font-family: AkkuratPro_regular;
  font-size: 20px;
}

.cerrarComparar:hover{
  cursor: pointer;
}

/***********************/
/****** Contenedor *****/
/***********************/

.titulosContenedor{
  border-bottom: 1px solid grey;
}

.titulosContenedor > div > h6{
  font-family: AkkuratPro_bold;
  text-align: center;
}

.infoProducto > p:nth-child(1){
  color: #05AA97;
  font-family: AkkuratPro_bold;
}

.infoProducto > h5:nth-child(2){
  font-family: AkkuratPro_bold;
}

.infoProducto > p:nth-child(3){
  font-family: AkkuratPro_regular;
  font-size: 12px;
}

.infoProducto > p:nth-child(4){
  color: #05AA97;
  font-family: AkkuratPro_regular;
}

.numbertype{
  float: right;
  margin-top: 6px; 
  text-align: right; 
  width: 60px; 
}

.plus:hover, 
.minus:hover{
  color: #05AA97;
  cursor: pointer;
}

.cantidadContenedor > center > p{
  color: #05AA97;
}

.pMinimo{
  background-color: #f1f1f1;
  color: black !important;
  font-size: 10px;
  font-family: AkkuratPro_regular;
  position: absolute;
  text-align: left;
  width: 200%;
  display: none;
}

.total > p{
  font-family: AkkuratPro_regular;
  font-size: 11px;
  text-align: left;
}

.cantTotal{
  color: #05AA97;
  font-family: AkkuratPro_regular;
  font-size: 16px;
  text-align: left;
}

.listII{
  list-style: none;
}

.listII > li{
  font-family: AkkuratPro_bold;
  font-size: 12px;
}

.btnContenEliminar{
  background-color: white;
  border-radius: 50px;
  border: 1px solid red;
  color: red;
  font-family: AkkuratPro_bold;
  padding: 1px 8px;
  transition: .2s;
}

.btnContenEliminar:hover{
  background-color: red;
  border: 1px solid red;
  color: white;
}

.bg_green{
  background-color: #05AA97;
  height: 85px;
}

.navBottomCh{
  background-color: rgba(78, 79, 81, 0.7);
  height: 85px;
  width: 100%;
}

.navBottomCh > div > a{
  color: white;
  display: flow-root;
  font-family: AkkuratPro_regular;
  margin-top: 33px;
  text-align: center;
}

.navBottomCh > div > div > div > a{
  color: white;
  display: flow-root;
  font-family: AkkuratPro_regular;
  margin-top: 22px;
  text-align: left;
}

.navBottomCh > div > a:hover{
  color: #05AA97;
  text-decoration: none;
  transition: .3s;
}

.navBottomCh > div > div > div > a:hover{
  text-decoration: none;
}

.subNavB{
  color: white;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 18px !important;
}

.pricesubNav{
  font-family: AkkuratPro_regular;
  font-size: 14px;
}

#saveNavR{
  color: #05AA97;
  margin-left: 10px;
}

#saveNavR:hover{
  cursor: pointer;
}

.navR_p > p:nth-child(1),
.navR_p > p:nth-child(2){
  font-family: AkkuratPro_bold;
}

.navR_p > p:nth-child(3){
  background-color: #d2d2d2;
  font-family: AkkuratPro_regular;
  font-size: 12px;
  text-align: center;
}

.navR_p > p:nth-child(5){
  color: #05AA97;
  font-family: AkkuratPro_regular;
  font-size: 13px;
  margin-top: 1em;
  text-align: center;
}

.navR_p > p:nth-child(6){
  font-family: AkkuratPro_bold;
  text-align: center;
}

.navR_p > p:nth-child(7){
  font-family: AkkuratPro_regular;
  font-size: 13px;
  text-align: center;
}

.p_regular{
  font-family: AkkuratPro_regular !important;
}

#btnSendContent{
  background-color: #05aa9a;
  border-radius: 50px;
  border: 1px solid transparent;
  color: white;
  font-family: AkkuratPro_bold;
  margin-top: 1em;
  padding: 1px 8px;
  transition: .2s;
  width: 100%;
}

#btnSendContent:hover{
  background-color: white;
  border: 1px solid grey;
  color: black;
}

#modal_calendar > .modal-dialog {
  width: 450px;
}

#modal_calendar > .modal-dialog > .modal-content{
  background-color: white;
  color: black;
}

#modal_calendar > .modal-dialog > .modal-content > .modal-header > .close{
  color: #05AA97;
}

#modal_calendar > .modal-dialog > .modal-content > .modal-header > center > h4{
  font-family: AkkuratPro_bold;
}

#modal_calendar > .modal-dialog > .modal-content > .modal-header > center > p{
  font-family: AkkuratPro_regular;
}

#modal_calendar > .modal-dialog > .modal-content > .modal-footer{
  border-top: 0;
}

#btnSave{
  background-color: #05aa9a;
  border-radius: 50px;
  border: 1px solid transparent;
  color: white;
  font-family: AkkuratPro_bold;
  padding: 1px 8px;
  transition: .2s;
  width: 140px;
}

#btnSave:hover{
  background-color: white;
  border: 1px solid grey;
  color: black;
}

.ui-datepicker{
  width: 85% !important;
}

.ui-widget-header{
  background: none !important;
  border: 0px !important;
  color: #05AA97 !important;
  font-family: AkkuratPro_regular;
}

.ui-datepicker-prev span {
  background-image: url(http://yankuserver.com/tamev2/public/assets/img/arrow-ca-r.png) !important;
  background-position: 0px 0px !important;
  background-size: cover;
}

.ui-datepicker-next span {
  background-image: url(http://yankuserver.com/tamev2/public/assets/img/arrow-ca-l.png) !important;
  background-position: 0px 0px !important;
  background-size: cover;
}

.ui-state-hover{
  background: none !important;
  border: 0 !important;
  color: transparent !important;
  font-weight: none !important;
}

.ui-widget-content{
  color: grey !important;
  font-family: AkkuratPro_regular !important;
}

.ui-state-default, .ui-widget-content .ui-state-default{
  border: 1px solid white !important;
  background: none !important;
  color: black !important;
  text-align: center !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
  background: none !important;
  border: 1px solid #05AA97 !important;
  color: black !important;
}

.ui-state-active, .ui-widget-content .ui-state-active{
  border: 0 !important;
  background-color: #05AA97 !important;
}

#form_calendar > div > h5{
  font-family: AkkuratPro_bold;
}

#form_calendar > div > p{
  font-family: AkkuratPro_regular;
}

#form_calendar > div > center > input,
#form_calendar > div > center > select,
#form_calendar > div > center > textarea{
  width: 200px !important;
}

#form_calendar > div > center > input,
#form_calendar > div > center > select{
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: transparent !important;
  height: 28px;
  background: url(../img/in_arrow_black.png) no-repeat;
  background-position: right 10px center;
  padding: 0px 10px;
  border: 1px solid black;
}

#form_calendar > div > center > textarea{
  border-radius: 0px;
  border: 1px solid black;
}

#form_calendar > p{
  color: #05AA97;
  font-family: AkkuratPro_regular;
  font-size: 13px;
  text-align: center;
}

.rowEntrega{
  border-bottom: 1px solid grey;
  border-top: 1px solid grey; 
  padding: 10px 0px;
}

.form_entrega_row > div > center > select,
.form_entrega_row > div > center > textarea{
  width: 85% !important;
}

.form_entrega_row > div > center > select{
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: transparent !important;
  height: 28px;
  background: url(../img/in_arrow_black.png) no-repeat;
  background-position: right 10px center;
  padding: 0px 10px;
  border: 1px solid black;
}

.form_entrega_row > div > center > textarea{
  border-radius: 0px;
  border: 1px solid black;
}

/*******************/
/****** Footer *****/
/*******************/

#top-footer{
  background-color: #f1f1f1;
  margin-top: 60px;
  padding: 13px;
  width: 500px;
}

#top-footer > p, a{
  font-family: AkkuratPro_regular;
}

#top-footer > a{
  color: #05aa9a;
  text-decoration: none;
}

footer{
  background-color: #4e4f51;
  color: white;
  height: 40px;
}

footer > a{
  color: white;
}

footer a > .fa{
  font-size: 20px !important;
  padding: 10px;
}

footer a > .fa:hover{
  color: #05aa9a;
  transition: .3s;
}

/*******************/
/****** Querys *****/
/*******************/

@media screen and (max-width: 1110px){
  .alignCenter > a{
    padding: 15px 30px !important;
  }
}

@media screen and (max-width: 1040px){
  .navbar-default .navbar-nav>li>a{
    font-size: 10px;
  }
  .navbar-form{
    width: 190px;
  }

  #logoNav{
    margin-top: 5px;
    width: 120px;
  }
}

@media screen and (max-width: 880px){
  .iconSteps{
    width: 40px;
  }
  #iconStepTT{
    width: 40px;
  }
}

@media screen and (max-width: 830px){
  .alignCenter > a {
    padding: 15px 20px !important;
  }
}

@media screen and (max-width: 768px){
  #modal_calendar > .modal-dialog {
    width: 100%;
    margin: 0px;
  }
  .navbar-form{
    width: auto;
  }
  .navbar-default .navbar-nav>li>a{
    font-size: 13px;
  }
  #separatorLogin{
    display: none;
  }
  #top-footer{
    width: 100%;
  }
  #btnSidenav{
    font-size: 18px !important;
    z-index: 1 !important;
  }
}

@media screen and (max-width: 705px){
  .iconSteps{
    width: 30px;
  }
    #iconStepTT{
    width: 30px;
  }
}

@media screen and (max-width: 575px){
  .iconSteps{
    width: 25px;
  }
  #iconStepTT{
    width: 25px;
  }
  #boxContent{
    padding-right: 30px;
  }
}

@media screen and (max-width: 450px){
  .iconSteps{
    width: 13px;
  }
  #iconStepTT{
    width: 13px;
  }
}




