* {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

/*AJUSTES GRALES*/
.anchoContainer{
	padding-right: 0px;
	padding-left: 0px;
}

.grosorNav{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.navbar {
    position: absolute;
    width: 100%;
    min-height: 50px;
    border: 1px solid transparent;
    z-index: 1;
}

.navbar-default {
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover{
	animation: .3 !important;
	color: #fff;
	padding-right: 75px;
    padding-left: 75px
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #c1c1c1;
}

.navbar-nav {
    float: right;
    padding: 6px;
}

.paddingNav{
	padding-right: 10px;
}

#homeUser{
	background-image: url('http://yankuserver.com/tamev2/public/assets/img/homeUser.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
}

.homeUserModal{
	background-image: url('http://yankuserver.com/tamev2/public/assets/img/homeUserModal.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
}

h2{
	color: white;
	margin-top: 36vh;
}

#findHome{
	width: 780px !important;
	margin-top: 15px;
	border-radius: 10px;
	height: 35px;
}

p{
	margin-top: 30vh;
	color: white;
	font-size: 16px;
}

#btnHome{
	width: 120px;
    height: 35px;
    background-color: #3fa9f5;
    color: white;
    border-radius: 0px !important;
    border: 1px solid transparent;
    transition: .3s;
}

#btnHome:hover{
	background-color: #447ca5;
}

#imgLogo{
	padding: 10px;
	position: absolute;
}

/* ==============================
   modales
   ============================== */

.modalEstilos{
  position: fixed; 
  width: 40%; 
  top: 70px; 
  left: 30%; 
  font-family:'Raleway', sans-serif; 
  font-size: 15px; 
  font-weight: normal; 
  box-shadow: 0px 0px 10px black; 
  background-color: white; 
  color: #353535; 
  padding: 18px;
  display:none;
  z-index:1;
  animation-name: fadeIn;
  animation-duration: .5s;
  overflow: scroll;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

#btnModal {
    background-color: #3fa9f5;
    color: white;
    margin-top: 25px;
    width: 110px;
    height: 33px;
    border: none;
    animation: .3s;
}

#btnModal:hover{
	background-color: #447ca5;
}

/*fin modal*/

/*MEDIA QUERIES*/
@media screen and (max-width: 1100px) {
	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover{
	padding-right: 45px;
    padding-left: 45px
	}
}

@media screen and (max-width: 768px) {
	#findHome{
		width: 80% !important;
	}
	h2{
		font-size: 22px !important;
	}
	p{
		margin-top: 23vh;
	}
	#imgLogo {
	    padding: 15px;
	    width: 180px;
	}
    .navbar-nav{
    	width: 100%;
    	float: none;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    	background-color: rgba(48, 86, 97, 0.37);
	}
	.modalEstilos {
	    width: 90%;
	    top: 20px;
	    left: 5%;
	}
}







