.gallery{
    width: 200px;
    float: left;
}
.gallery div img {
    width: 200px;
}
.summary div {
    width: 250px;
    float: right;
}
.colors div {
    width: 20px;
    height: 20px;
}
.row {
    margin: 0 auto;
    width: 100%;
}